[2015-01-27 22:24] MikeTschudi opened #1 "Create main frame"
See https://github.com/ArcGIS/crowdsource-polling/wiki/Main-frame

[2015-01-27 22:25] MikeTschudi opened #2 "Create sidebar header"
See https://github.com/ArcGIS/crowdsource-polling/wiki/Sidebar-header

[2015-01-27 22:26] MikeTschudi opened #3 "Create sidebar content: item list"
See https://github.com/ArcGIS/crowdsource-polling/wiki/Sidebar-content:-item-list

[2015-01-27 22:26] MikeTschudi opened #4 "Create sidebar content: item detail"
See https://github.com/ArcGIS/crowdsource-polling/wiki/Sidebar-content:-item-detail

[2015-01-27 22:27] MikeTschudi opened #5 "Create social and help popups"
See https://github.com/ArcGIS/crowdsource-polling/wiki/Social-and-Help-popups

[2015-01-27 22:27] MikeTschudi opened #6 "Create layer and table management"
See https://github.com/ArcGIS/crowdsource-polling/wiki/Layer-and-table-management

[2015-01-27 22:27] MikeTschudi opened #7 "Create insert a comment"
See https://github.com/ArcGIS/crowdsource-polling/wiki/Insert-a-comment

[2015-01-30 19:22] #2 closed, assigned to nobody

[2015-02-04 21:42] #1 closed, assigned to nobody

[2015-03-14 00:38] skrishn opened #8 "Submit Comment button doesn't come up on adding comments when all fields in table allow null values (other than object id)."
1. Consume the hosted feature service in a webmap and publish a web mapping application using crowdsource polling template.
2. Configure the application.
3. Please enter the Name of the field in Commenters Table in 'Comment Table Name Field'.
4. Click on a feature.
5. Click on Comment button.
6. Enter values in the form and no submit comment button come up.

Test Urls
Service URL
http://services.a

[2015-03-14 01:20] skrishn opened #9 "App requires a single feature dataset related to a single related table"
If the feature dataset contains more than one related table, the web application throws errors upon configuring

Service URL:
http://services.arcgis.com/b6gLrKHqgkQb393u/ArcGIS/rest/services/LandUseCasesTwoRelatedTable/FeatureServer

Web App
http://krishnan7.esri.com/cr-35/crowdsource-polling/index.html?appid=6557e85ed2f14d07bdaeda7032dd6a61

![tworelateserror](https://cloud.githubusercontent.com/

[2015-03-14 01:31] skrishn opened #10 "App requires a single feature dataset related to a single related table"
Apps throws error when there is no relationship between feature layer and table.
Test Urls
Service Url
http://services.arcgis.com/b6gLrKHqgkQb393u/ArcGIS/rest/services/LandUseCasesNoRelationshipClass/FeatureServer
Web App
http://krishnan7.esri.com/cr-35/crowdsource-polling/index.html?appid=ca0ecaabc3554ceaa6a82b791f69fe21

![tworelateserror](https://cloud.githubusercontent.com/assets/3836616/66497

[2015-03-16 17:15] skrishn opened #11 "When webmap contains tiled layer(in addition to basemap layer) and feature layer; the layerlist panel in the application keeps spinning"
1. Create a webmap with a Tiled Layer (in addition to the basemap) and feature layer. Share it as a web application using crowdsource polling template.
2. Notice that the layers are drawn but the layerlist panel doesn’t populate layer information and keeps spinning

Web map:
http://arcgis4localgov2.maps.arcgis.com/home/webmap/viewer.html?webmap=3017483caca440b28b637769a46fd6f1
Web app:
http://kris

[2015-03-16 21:00] skrishn opened #12 "When webmap contains tiled layer(in addition to basemap layer) and feature layer; the layerlist panel in the application keeps spinning"
1. Create a webmap with a Tiled Layer (in addition to the basemap) and feature layer. Share it as a web application using crowdsource polling template.
2. Notice that the layers are drawn but the layerlist panel doesn’t populate layer information and keeps spinning

Web map:
http://arcgis4localgov2.maps.arcgis.com/home/webmap/viewer.html?webmap=3017483caca440b28b637769a46fd6f1
Web app:
http://kris

[2015-03-16 21:42] skrishn opened #13 "If popup is removed in webmap; the feature list in layerlist panel of the app display as 'Undefined'"
1. Consume the hosted feature service in a webmap
2. Right click on the feature layer and remove popup
3. Publish a web mapping application using crowdsource polling template
4. Noticed the features information shows as 'Undefined' in layerlist panel

Test Urls
Service URL
http://services.arcgis.com/b6gLrKHqgkQb393u/ArcGIS/rest/services/LandUseCases/FeatureServer
Web map
http://arcgis4localgov2.ma

[2015-03-16 22:07] #12 closed, assigned to nobody

[2015-03-17 20:26] allisonmuise opened #14 "side panel sizing"
Panel sizing is currently a set of fixed widths for the panel and each of the panel components. It would be easier to make adjustments if the width of the panel components was a percentage of the width of the panel itself.

cc @julio8a

[2015-03-17 21:34] skrishn opened #15 "In IE 8 browser images next to button doesn't display"
Run the app in IE 8
http://krishnan7.esri.com/cr-35/crowdsource-polling/index.html?appid=22847d113e524ccda70605c570db9bde

Click on a feature, notice there are no images near Like, Comment and Gallery buttons

![image](https://cloud.githubusercontent.com/assets/3836616/6698060/99283314-ccb2-11e4-917a-eec409d15964.png)

[2015-03-17 21:52] skrishn opened #16 "Sign in doesn't show up in IE 8 browser"
1. Run the app in IE 8 browser
   http://krishnan7.esri.com/cr-35/crowdsource-polling/index.html?appid=057a49cd014c488297e390b55b3128a5
2. Notice that there is no Sign in Button

[2015-03-17 21:59] skrishn opened #17 "App errors out when comment is entered leaving date field empty in IE 8 browser"
1. Run the app in IE 8 browser

http://krishnan7.esri.com/cr-35/crowdsource-polling/index.html?appid=22847d113e524ccda70605c570db9bde
1. Click on a feature and click comment button
2. Add text to the comment field. Leave Date field blank
3. Click Submit button
4. Notice that the app throws an error

![image](https://cloud.githubusercontent.com/assets/3836616/6698409/bc421ace-ccb5-11e4-8bd7-6437424

[2015-03-17 22:37] allisonmuise opened #18 "Comment form should display below item details"
The form for entering comments should display below the item details panel as in the comp below. Instead of displaying over the top of the already-submitted comments, let's start with making the form display in place of the previously-entered comments.
![newcomment](https://cloud.githubusercontent.com/assets/2752195/6699079/d7c2281a-ccbb-11e4-8e47-18e1053abea0.png)

[2015-03-17 22:38] allisonmuise opened #19 "Stick comment submission buttons to end of comment form"
The Cancel and Submit Comment buttons are currently stuck to the bottom of the panel, they should float in the panel and stick to the bottom of the entry form as shown in the comp:
![newcomment](https://cloud.githubusercontent.com/assets/2752195/6699064/b119ffee-ccbb-11e4-8ebe-4ef96217bd73.png)

[2015-03-17 23:47] allisonmuise opened #20 "Indicate 'required' instead of 'optional' fields"
In the comment form, please indicate required fields with (required) and leave optional fields unmarked.

[2015-03-17 23:51] allisonmuise opened #21 "Multi-line config for social and help"
The configuration parameters for the text in the social media and help windows are currently single-line entry. Multi-line would make typing this text easier.

[2015-03-17 23:56] allisonmuise opened #22 "Pad title to align with other title area elements"
App title should align with the 'Sign In' and '?' buttons

![3-17-2015 4-54-10 pm](https://cloud.githubusercontent.com/assets/2752195/6700116/71d272ca-ccc6-11e4-8ca5-d09828d5c5a9.png)

[2015-03-17 23:59] allisonmuise opened #23 "Re-style check box"
The check box looks harsher? older? than the surrounding UI.
@julio8a can you share that link with he check box styles and their code?

[2015-03-23 18:13] #16 closed, assigned to nobody

[2015-03-23 18:18] #15 closed, assigned to nobody

[2015-03-23 22:04] #3 closed, assigned to nobody

[2015-03-23 22:04] #4 closed, assigned to nobody

[2015-03-23 22:07] #5 closed, assigned to nobody

[2015-03-23 22:43] #11 closed, assigned to nobody

[2015-03-25 18:06] MikeTschudi opened #24 "Add check for outdated item comments and attachments query results"
If the comments or attachments server is slow enough, it is possible to click on an item to see its details (which launches async queries for comments and attachments) and then switch to another item before the async queries return. Without a check, it is possible for the comments and/or attachments from the first item to be shown for the second item.

[2015-03-25 20:10] MikeTschudi opened #25 "Should comment form warn if it has been changed and you are about to return to the items list?"
This app clears the form so that the next visit to the item details has a fresh copy. Currently, the form is cleared without warning.

[2015-03-25 20:36] MikeTschudi opened #26 "Standardize Dojo AMD usage in item list and item details"

[2015-03-26 13:46] #6 closed, assigned to nobody

[2015-03-26 15:47] MikeTschudi opened #27 "Voting causes gallery to disappear"

[2015-03-26 16:03] MikeTschudi opened #28 "Voting on an item from multiple browsers at the same time causes data loss"
App uses its copy of item vote count, which is fetched when it starts up or after a vote.  It updates this copy and submits it without checking first to see if another app has already voted, thus overwriting the current vote count with a potentially outdated count.

[2015-03-26 17:17] MikeTschudi opened #29 "Refine UX for comment and gallery buttons"
From allisonmuise:
Can we change the like/comments/gallery buttons to show when they are in use?
-   After clicking ‘like’ invert the colors so it’s white on blue
-   While the comment panel is expanded show the comment button in white on blue, then return it to blue on white once the panel is collapsed (either by submit or cancel)
-   While the gallery is displaying show the gallery button in whi

[2015-03-26 18:39] #25 closed, assigned to nobody

[2015-03-26 18:46] #18 closed, assigned to nobody

[2015-03-26 18:46] #19 closed, assigned to nobody

[2015-03-26 18:47] #20 closed, assigned to nobody

[2015-03-26 18:47] #27 closed, assigned to nobody

[2015-03-26 18:57] MikeTschudi opened #30 "Item details list can only display up to 99 votes"

[2015-03-26 19:08] #8 closed, assigned to nobody

[2015-03-26 19:11] #13 closed, assigned to nobody

[2015-03-26 19:13] #22 closed, assigned to nobody

[2015-03-26 19:14] #7 closed, assigned to nobody

[2015-03-26 23:37] allisonmuise opened #31 "Comment text font"
Without digging too deep, can the font for text entry fields match the font used elsewhere in the UI?

[2015-03-26 23:38] allisonmuise opened #32 "Fit images to screen"
When opening an image from the thumbnail, fit it on the screen

[2015-03-26 23:39] allisonmuise opened #33 "Form fields order and aliases from popup"
Fields in the comment form should display in same order as in editing popup, and they should use the popup field aliases as headers.

[2015-03-26 23:42] allisonmuise opened #34 "show only fields that are editable in the popup config"
When configuring a popup, fields have 2 properties - display and edit. The form should include only fields with edit set to true, and all fields with edit set to true should be displayed in the form regardless of the display settings.

[2015-03-26 23:42] allisonmuise opened #35 "Submit and Cancel buttons"
Swap placement of Submit and Cancel buttons (and update Submit button text)

[2015-03-26 23:43] allisonmuise opened #36 "Look at Geoform Theming"
Geofom wizard includes ability to apply styles as well as colors as part of theming. Consider for a future release

[2015-03-30 15:24] MikeTschudi opened #37 "Hide voting button if voting field not specified"

[2015-03-30 15:24] MikeTschudi opened #38 "Create custom checkbox for uniform UI across browser"
For "Link to map view" option

[2015-03-30 15:26] MikeTschudi opened #39 "Scroll to top of comment form when comment button clicked"
Currently, there's no scroll, so if the gallery is large, you may not see the comment form open up below the gallery.

[2015-03-30 15:45] MikeTschudi opened #40 "Explore UX tradeoff between startup and first-use loading of social media libraries"

[2015-03-30 16:34] #23 closed, assigned to nobody

[2015-03-30 16:42] #10 closed, assigned to nobody

[2015-03-31 19:34] #26 closed, assigned to nobody

[2015-03-31 23:45] #40 closed, assigned to nobody

[2015-04-02 19:31] #35 closed, assigned to nobody

[2015-04-02 19:32] #30 closed, assigned to nobody

[2015-04-02 19:33] #31 closed, assigned to nobody

[2015-04-02 19:33] #32 closed, assigned to nobody

[2015-04-10 17:26] LindsayThomas opened #41 "Splash Screen HTML text doesn't display well"
Splash Screen HTML text below is displaying like the image below

[code]

![screen shot 2015-04-10 at 1 20 44 pm](https://cloud.githubusercontent.com/assets/2379312/7093205/24ee1366-df85-11e4-8c46-fc37deedb68d.png)

[2015-04-10 18:24] LindsayThomas opened #42 "Add Support for Attachments that are PDF's"
The Land Use Public Comment Data Structure has Attachments Enabled. The attachments are PDFs.

The application only supports Attachment images at the moment.

Note: Related to Functional Equivalence for LUPC

@allisonmuise FYI

[2015-04-10 18:30] MikeTschudi opened #43 "App not handling feature layers that have no comment tables"
Handles it for startup, but not for when an item is selected in the items list

[2015-04-10 19:01] LindsayThomas opened #44 "Application should use Field Names instead of Field Alias Names"
Application is currently looking for Field Alias Names instead of Field Names for the application parameters ("Comment Table Name Field" and "Votes Field").

Because Field Alias Names can have duplicates, the convention is to look for the Field Name.

@MikeTschudi @allisonmuise  Updated ticket to reflect what we actually want to do.

[2015-04-10 19:06] LindsayThomas opened #45 "Should we make this a Responsive Application? (Smartphone Support)"
Should we make this a Responsive Application? (Smartphone Support)
Initially, this application was going to be responsive, however, we tabled responsiveness in order to try to get the application into the last AGOL release.

We now have more development time, do we want to try to support this for the June\July Release?
Note: Related to Functional Equivalence for LUPC

@ScottOppmann FYI

[2015-04-10 19:20] LindsayThomas opened #46 "Application Title Only Supports 18 characters however, "Land Use Public Comment" is 23 characters long"
@allisonmuise Can we change the Fixed Width of the Title,Wrap it , or reduce the font size?
18 Characters makes it tough for users to have a meaningful title.

Note: Related to Functional Equivalence for LUPC

![screen shot 2015-04-09 at 4 34 11 pm](https://cloud.githubusercontent.com/assets/2379312/7095067/0ef77358-df95-11e4-821b-0ca42b9a1e8a.png)

[2015-04-10 19:45] LindsayThomas opened #47 ""Gallery" button label/tooltip change"
@allisonmuise In Relation to #42

If attachments are enabled the application then the Gallery is expanded. With the plan to support PDF attachments as well, we need to update the button and tool tip to something more generic.

What language should we use?

UI to update
"Gallery" button Label
"See Attached Photos for this" Tooltip

![gallery](https://cloud.githubusercontent.com/assets/2379312/70954

[2015-04-11 19:17] #45 closed, assigned to allisonmuise

[2015-04-16 16:18] #17 closed, assigned to nobody

[2015-04-16 17:05] allisonmuise opened #48 "Add search"
Please add a search widget to the vertical navigation bar under the map navigation widgets. For example: http://www.gisday.com/gis-day-events-map.html

The search widget should read the search options that are configured in the web map.

[2015-04-16 17:15] LindsayThomas opened #49 "Application spins when submitting a comment using the application below"
@MikeTschudi Per phone discussion

Here is the application that is spinning when a comment is submitted : http://esri.github.io/crowdsource-polling/?appid=b9e7c1a98dc1487f93f78f4ea8fe29ce

[2015-04-16 17:19] #42 closed, assigned to LindsayThomas

[2015-04-16 17:23] LindsayThomas opened #50 "Add generic attachment icon that passes the user to a the attachment REST endpoint in a browser"
@MikeTschudi Per phone discussion
implement a generic workflow to support ArcGIS Attachments types that are not images (JPEG, PNG, PDF).

Mike thinks we can just add a generic icon then pass the user to a new browser with the attachment REST URL. (Very simpler to the way it is working for the images\pdf's.

FYI @allisonmuise  #42

[2015-04-16 17:25] #41 closed, assigned to LindsayThomas

[2015-04-16 17:27] #43 closed, assigned to LindsayThomas

[2015-04-16 18:15] MikeMillerGIS opened #51 "URL syntax to retrieve attachment photo incorrect"
http://services.arcgis.com/b6gLrKHqgkQb393u/arcgis/rest/services/InfrastructureProjects/FeatureServer/1/6/attachments/1?token=FleWXg7SozGYBA5VT2vIRfQSToJHL4X6kWg1ObVLY1bfa7ZnqO2tSrRYtrWvY4OU24zJMxLfudiuR2ZGjKr4JYALEpLmrgoQlMvgyuMsDFt9NS9qEkGLiq4m5bYZwW01hddhjJfK8dHM-r1jHXEDsSQl5iFZebDw9sOfSu3Co-E./IMG_0282.JPG

Notice the token is inserted into the url before the /IMG....jpg.

[2015-04-16 19:41] LindsayThomas opened #53 "Voting Using (Long Integer) is failing"
Using this application
http://esri.github.io/crowdsource-polling/?appid=f17c6852c19e45f09030423e784413ae

Configured only using the Vote Field Parameter: VoteLong   (VoteLong is the alias, VOTELONG is Field)
(There isn't any comments table or relationship in the webmap)

[2015-04-16 19:48] LindsayThomas opened #54 "Error Message for Voting Failure needs to be updated"
If the application fails to update the vote count then they get the following error message "voteUpdateFailed".

We should update this error message to something more readable. Something like "Your vote was not added to the count."

@allisonmuise @MikeTschudi Any ideas for a better error message?

[2015-04-16 22:13] #44 closed, assigned to nobody

[2015-04-20 20:59] #29 closed, assigned to allisonmuise

[2015-04-20 21:00] #38 closed, assigned to allisonmuise

[2015-04-20 21:52] #39 closed, assigned to allisonmuise

[2015-04-20 22:01] #34 closed, assigned to allisonmuise

[2015-04-20 22:03] #28 closed, assigned to allisonmuise

[2015-04-20 22:06] #53 closed, assigned to MikeTschudi

[2015-04-20 22:08] #24 closed, assigned to allisonmuise

[2015-04-20 22:08] #9 closed, assigned to allisonmuise

[2015-04-23 12:36] ScottOppmann opened #55 "Side panel font styles"
Fonts in the right panel are different across the unique panel sections.  Looks like we have not styled the dynamic content coming from the popup when you display/edit a feature the same as the font Julio has provided for rest of app. This is apparent when you click on an item in the list and add comments for each feature. Same holds true for the font used in “Link to map view” UI element.

Screen

[2015-04-23 12:48] ScottOppmann opened #56 "Feature Selection Graphic"
When you select an item from the list in the right panel, the app zooms to the specific feature but there is no visual queue in the map which feature was selected from the list.  It is especially apparent when two features are in the same map view.  See attached image.
![crowdsource feature queue](https://cloud.githubusercontent.com/assets/2379330/7297278/6a07a5e2-e995-11e4-88a1-816fe66136b8.png)

[2015-04-27 21:11] allisonmuise opened #57 "Field selection for Votes/Comments based on selected layer"
Votes field:
Provide a way to select a field from the previously selected layer instead of free-typing the field name

Comments field:
Investigate the way the Summary app is pulling in field names with the goal of building a list of field names from the related table that will be used for comments.

[2015-04-27 21:12] allisonmuise opened #58 "Eliminate title area in help dialog box"
Text should start at the top of the box, aligned with the top of the X.

[2015-04-27 21:13] allisonmuise opened #59 "add more space to issue list for likes count"
With a wide 'likes' count (xxxk), the count value wraps throwing off the alignment of the rest of the UI.

[2015-04-27 21:26] allisonmuise opened #60 "unexpectedly prompted for credentials"
After sharing a map using Polling the app goes straight to the configuration experience. I am immediately prompted to enter my credentials despite being signed into the org in the same browser tab. The sharing of the data, map, template, and application should be irrelevant because I had to enter my credentials in order to save and share the map using Polling.

Doing the same workflow with Basic V

[2015-04-27 22:24] allisonmuise opened #61 "add theme color to issue list"
Use the theme color for the left border of the whole panel and the bottom border of the title panel

[2015-04-27 22:27] allisonmuise opened #62 "Add support for domains to comment entry form"
currently fields with coded value domains do not present a pick list of accepted values. The list should show the aliases associated with each domain value.

Fields with range domains should validate that the entered value is within the accepted range.

[2015-04-27 22:29] allisonmuise opened #63 "remove arrows from numeric field entry boxess"
currently all numeric parameters have up and down arrows at the end of the entry box. Is there a way to hide these arrows?

[2015-04-28 17:44] ChrisBuscaglia opened #64 "Add a dropdown for field names in configuration"
Provide a dropdown of available field names in the "Comment Table Name Field" and "Votes Field".

[2015-04-28 17:49] ChrisBuscaglia opened #65 "Add max. value length desc. to Title in configuration panel (if fixed length is req.)"
Add some descriptive text in the configuration of the application to notify the configurator that he/she cannot exceed the width of the main app panel.  Much like what is done in the application when submitting issues (145 of 255).

[2015-04-28 17:56] busbus opened #66 "Create generic (non-textual) buttons for "Comments" and "Gallery""
To me -  a gallery is a photo gallery.  Many attachment types are supported as portal items - i.e. PDF files, CAD files, etc.

The other potential solution would be to customize the text that is presented - but is an issue when multiple attachment types are attached to a single feature.

[2015-04-28 17:59] ChrisBuscaglia opened #67 "Should linking to map view be default?"
Should linking to map view be default?

Should the test say "link to map" - map view sounds 3.x.

[2015-04-28 18:02] busbus opened #68 "Provide hints for issues that exceed the length of the panel width using the desktop browser"
Provide hints for issues that exceed the length of the panel width using the desktop browser

[2015-04-28 19:26] #64 closed, assigned to nobody

[2015-04-28 19:27] #65 closed, assigned to nobody

[2015-04-28 19:55] #67 closed, assigned to nobody

[2015-04-28 20:52] allisonmuise opened #69 "popup title displayed twice"
It's not necessary to display the popup title in grey text at the top of the item details. The popup title is already listed in the blue bar at the top of the panel.

[2015-04-28 20:54] allisonmuise opened #70 "heart graphic missing from blue bar in item details view"
![4-28-2015 1-53-29 pm](https://cloud.githubusercontent.com/assets/2752195/7380032/118ee944-edae-11e4-92c6-8f853c717c07.png)

There should be a heart next to the votes count in the title area

[2015-04-28 21:16] #69 closed, assigned to MikeTschudi

[2015-04-29 18:02] allisonmuise opened #71 "Cannot sign into app using Google+"
The Google+ UI has changed slightly, but I am still able to follow the steps. After I updated my application to use the resulting Client ID, I clicked the Google+ icon on the Reporter splash screen and accepted the disclaimer, but the app did not take me to the map list – it stayed on the splash screen.

@MikeTschudi, please also take a look at http://arcgis4localgov2.maps.arcgis.com/apps/Crowdsou

[2015-04-29 22:39] #63 closed, assigned to allisonmuise

[2015-04-29 22:40] #61 closed, assigned to allisonmuise

[2015-04-29 22:44] #57 closed, assigned to allisonmuise

[2015-04-29 22:50] #54 closed, assigned to allisonmuise

[2015-04-29 22:57] #47 closed, assigned to allisonmuise

[2015-04-29 22:58] #37 closed, assigned to allisonmuise

[2015-05-06 15:36] #50 closed, assigned to LindsayThomas

[2015-05-06 19:16] #46 closed, assigned to LindsayThomas

[2015-05-06 19:28] LindsayThomas opened #72 "add a tooltip to the title that displays the full title string"
If "Title" of application is longer then can be displayed in the panel then add a tooltip that displays the full "title" string.  (Like we did for items in the list)

Similar to: #68 (items in the list longer than the width of panel will show the full string in a tooltip)
Related to: #46 (supporting Land Use Public Comment" title)

[2015-05-06 19:30] #49 closed, assigned to LindsayThomas

[2015-05-14 23:15] allisonmuise opened #73 "Display app name in browser tab"

[2015-05-18 16:56] #72 closed, assigned to LindsayThomas

[2015-05-19 00:05] #51 closed, assigned to LindsayThomas

[2015-06-08 17:48] #60 closed, assigned to previnWong

[2015-06-09 18:41] #55 closed, assigned to allisonmuise

[2015-06-09 19:44] #21 closed, assigned to allisonmuise

[2015-06-09 19:51] #71 closed, assigned to allisonmuise

[2015-06-09 19:56] allisonmuise opened #74 "UX on app load"
If a layer has not yet been configured, the app currently loads with the following message: "Unable to create map: Unable to fully load map: Item feature layer is missing"

Loading the application/displaying a map in the application should not depend on having a layer picked in the configuration panel.

Either:

1st choice: load the first editable layer by default

2nd choice: leave the right-side

[2015-06-09 19:59] #33 closed, assigned to allisonmuise

[2015-06-15 21:26] MikeTschudi opened #75 "Error in check if any social media are available for sign-in"
Two problems:
1. function not called with parens, so not called
2. test for each medium only a null test rather than an undefined test

[2015-06-15 21:29] MikeTschudi opened #76 "Twitter sign-in not working"

[2015-07-07 17:46] #76 closed, assigned to skrishn

[2015-07-07 17:48] allisonmuise opened #77 "default values not populated"
Comments fields do not honor default values defined for fields.

[2015-07-07 17:50] allisonmuise opened #78 "Search widget doesn't honor web map search configuration"
Search parameters are configured in the item details of a web map including whether search shoudl include layers (and if so which ones and which fields) and/or a geocode service.

The search widget should honor these settings and the search hint.

[2015-07-07 17:51] allisonmuise opened #79 "Field name not displayed if field alias is null"
If a field does not have an alias, the field name should display in the comments form and feature details panel.

[2015-07-09 18:17] allisonmuise opened #80 "List formatting in RtL laguages"
The list of items in the panel looks very squished in LtR languages
![7-9-2015 11-17-28 am](https://cloud.githubusercontent.com/assets/2752195/8603290/235ae8f6-262c-11e5-96e4-a05ee4dc9dea.png)

[2015-08-05 03:29] skrishn opened #81 "Help Window is not rich text in Devext"
@MikeTschudi  @allisonmuise
Help Window is not rich text in Devext, not seen in QA or Production.
I checked the code in devtopia, which is latest and help is configured to use Rich text.
I have contacted Ian and waiting on his reply.

[2015-08-05 03:33] skrishn opened #82 "Twitter option shows up even when not configured in devext"
@allisonmuise @ mike tschudi
Issue seen only in devext
Contacted Ian for this issue as well.

8/6 - noticed in prod n devext n qa

[2015-08-11 17:13] allisonmuise opened #83 "support for smartphones"

[2015-08-11 17:21] #81 closed, assigned to skrishn

[2015-08-11 18:57] #75 closed, assigned to nobody

[2015-08-26 22:02] allisonmuise commented on #73
verified in 3.9

[2015-08-26 22:02] #73 closed

[2015-08-26 22:07] allisonmuise commented on #82
verified

[2015-08-26 22:07] #82 closed

[2015-08-27 18:28] allisonmuise commented on #78
search layers are honored.
search hint is not currently honored. moving to 3.10

[2015-08-27 20:07] MikeTschudi commented on #77
Implemented with commit a2b2170682e64ace452b83673685cc2f425eeb5b

[2015-08-27 20:08] MikeTschudi commented on #62
Implemented with commit a2b2170682e64ace452b83673685cc2f425eeb5b

[2015-08-27 21:32] MikeTschudi commented on #80
Current display spacing:
![image](https://cloud.githubusercontent.com/assets/2125181/9533669/77d285f2-4cc8-11e5-8813-4721497f6441.png)

[2015-08-27 21:34] MikeTschudi commented on #59
See #80 for screenshot of display fix for 888k, 888M,...

[2015-08-27 21:55] MikeTschudi commented on #68
Found a poster who showed a Dojo way to do this trivially!

[2015-08-28 13:09] MikeTschudi commented on #78
There is some important background about AGOL hints and the way that the app handles the hint.

If one creates a new webmap with a searchable feature layer, the webmap AGOL item will show that the "Find Locations" Application Settings is enabled by default with hint text "Place or Address" (internationalized using the org user's language setting, not the browser's language setting) and searching b

[2015-08-28 15:57] allisonmuise commented on #78
cool! Thanks for explaining this.

[2015-08-28 19:18] MikeTschudi commented on #74
Webmap with no feature layers:
![image](https://cloud.githubusercontent.com/assets/2125181/9554849/de26adaa-4d7d-11e5-9d6a-bf0ad5ffd184.png)

Webmap with unconfigured feature layer; picks first layer:
![image](https://cloud.githubusercontent.com/assets/2125181/9554844/cf3a66a6-4d7d-11e5-8d6c-bc467e483538.png)
Features in this first layer are displayed using its popup, just as with a configured fea

[2015-08-28 21:44] MikeTschudi commented on #14
Now covered by #83

[2015-08-28 21:44] #14 closed

[2015-08-31 22:06] allisonmuise commented on #58
@MikeTschudi : how much work would it be to also remove the horizontal bar that follows the text?

[2015-08-31 22:08] allisonmuise commented on #59
verified on local build.

[2015-08-31 22:08] #59 closed

[2015-08-31 22:08] allisonmuise commented on #68
verified on local build.

[2015-08-31 22:08] #68 closed

[2015-08-31 22:09] allisonmuise commented on #80
verified on local build

[2015-08-31 22:09] #80 closed

[2015-08-31 22:10] MikeTschudi commented on #58
Trivial--it's the ```<hr/>``` at the end of the configuration in resources/configurationPanel.js and config/defaults.js:

[code]

[2015-08-31 22:26] allisonmuise commented on #74
Yup, this looks good. I had 'editable' on the brain from Reporter :)
verified on local copy of the app.

[2015-08-31 22:26] #74 closed

[2015-08-31 22:32] allisonmuise commented on #77
verified on local app

[2015-08-31 22:32] #77 closed

[2015-08-31 22:38] allisonmuise commented on #62
Fields with domains present a drop down of the domain value descriptions as expected, but the coded domain values are presented instead of the descriptions in the displayed comments:
![8-31-2015 3-37-56 pm](https://cloud.githubusercontent.com/assets/2752195/9592274/59ed7ac0-4ff6-11e5-9a76-193e5d034e5f.png)

[2015-08-31 22:39] #78 closed

[2015-08-31 22:53] allisonmuise commented on #58
sweet. thanks!

[2015-08-31 22:53] #58 closed

[2015-09-03 17:15] allisonmuise opened #84 "Decrease size of help icon"
return help icon to original size on all platforms

[2015-09-03 17:16] allisonmuise opened #85 "add app icon in app header"
app icon should be used for home screen shortcuts on mobile devices, and should not be horizontally constrained.

[2015-09-03 17:27] allisonmuise opened #86 "Add buger menu to smartphone view"
Once browser is decreased to the point where 'smartphone view' takes over, display a burger icon in top right corner that, when tapped/clicked, opens a small popover menu (similar to Manager's 'Sign Out' menu)  with text links that are context-sensitive:

- List view while anonymous:
-- Sign In
-- Map View
-- Help

- Map view while anonymous:
-- Sign In
-- List View
-- Help

- List view while sign

[2015-09-03 17:44] allisonmuise opened #87 "Re-evaluate 'link to map view' UI"
Let's start with Scott's suggestion of removing the check box and flipping the background from white (not filtered) to blue (filtered) and updating the text to reflect the action that will occur by clicking/tapping the text.

[2015-09-03 18:59] MikeTschudi commented on #86
Help is optional (button only displayed if there's help content) in all cases.
Sign In will not appear in anonymous case if no social medium is allowed by configuration.

[2015-09-03 19:08] allisonmuise opened #88 "Update Google + logo"
Google has updated their logos, and the sign in with google button should update to reflect their new branding:
https://developers.google.com/+/branding-guidelines?hl=en

[2015-09-03 19:09] allisonmuise commented on #86
yes - I forgot those two cases.

[2015-09-03 19:39] MikeTschudi commented on #86
What tooltip should the burger have?

[2015-09-03 20:00] allisonmuise commented on #86
It will only display on mobile devices where tooltips aren't accessible, so no tooltip necessary. If you need something for accessibility 'Menu'.

[2015-09-04 20:51] MikeTschudi opened #89 "Signout not working for IE 9 and Safari"
No effect by clicking "Sign out" button

[2015-09-04 21:42] MikeTschudi commented on #85
It appears that the home screen icon is not supported by some Android native browsers, but the Android Chrome supports it.

[2015-09-08 18:05] allisonmuise commented on #85
we only support Android Chrome :)

[2015-09-10 19:43] allisonmuise opened #91 "Nav widget updates"
- square widgets like Reporters
- Search on top

[2015-09-10 19:45] allisonmuise opened #92 "Burger menu icon"
I think Mike M said the dojo library? had an svg graphic for the burger icon so that it isn't as fuzzy. Would also be better if the burger lines were thinner than the title font.

[2015-09-10 19:46] allisonmuise opened #93 "Make side panel unselectable/hidden in smartphone mode"
panel is currently visible and interactive along the side of the map in smartphone view.

[2015-09-10 19:49] MikeMillerGIS commented on #92
it is part of the fonts in infolookup or basic viewer

[2015-09-10 19:57] allisonmuise commented on #92
Thanks @MikeMillerGIS !

[2015-09-22 16:22] allisonmuise commented on #86
two small changes:
- decrease the size of the outer border of the burger menu to match the width of the title bar border
- remove the horizontal lines between menu items

[2015-09-22 16:24] allisonmuise commented on #85
App icon should be same height as header bar

[2015-09-22 16:26] allisonmuise commented on #84
verified

[2015-09-22 16:26] #84 closed

[2015-09-22 16:26] allisonmuise commented on #83
verified

[2015-09-22 16:26] #83 closed

[2015-09-22 16:34] allisonmuise commented on #92
burger icon looks good

[2015-09-22 16:34] #92 closed

[2015-09-22 16:35] allisonmuise commented on #86
Is it possible to make the menu close when anywhere else on the screen is touched?

[2015-09-22 17:37] allisonmuise opened #94 "Buttons on item details page (smartphone view)"
remove text from Like, Comment, and Gallery buttons (center graphics)
add Map button (use graphic and positioning from Reporter)

[2015-09-22 17:38] allisonmuise commented on #93
panel no longer visible

[2015-09-22 17:38] #93 closed

[2015-09-22 17:38] allisonmuise commented on #91
widgets are now square

[2015-09-22 17:38] #91 closed

[2015-09-22 19:29] allisonmuise commented on #87
Per this morning's meeting:
- move 'link to Map' to right side of list header
- remove button formatting
- add mobile/iOS-style toggle.
- Text should be 'Filter list by map'
- tooltip should be 'Apply filter to list only features that are visible in the current map' (this language subject to change)

[2015-09-22 19:42] allisonmuise opened #95 "Add option to display layer name as title of list"
In the list title area:
- add the layer name to the list header (left-justified)
- Layer name should display only when configured to appear.
- Add Boolean option to the config panel to show/hide layer title. Option should be 'off' by default to match current app behavior.

[2015-09-22 20:22] MikeTschudi commented on #94
Map button replaces votes:
![image](https://cloud.githubusercontent.com/assets/2125181/10030536/f6c68c96-612c-11e5-9095-98eacd9932bc.png)
![image](https://cloud.githubusercontent.com/assets/2125181/10030539/faa0bcb0-612c-11e5-8d8d-8206bd4dac82.png)

[2015-09-22 20:34] allisonmuise commented on #94
per conversation with Mike - this refers to map button that sits in the same row oas the likes, comments, and gallery buttons

[2015-09-23 22:29] MikeTschudi commented on #87
Adapted iPhone-style toggle switch with i18n changes; may desire CSS tweak attempts to better match app UI. Switch's label truncates with ellipses if too long to fit on one line with switch.

Usage note: linkage between map and list turned off while app is in narrow (map or list--not both) state; previous value restored when app becomes wide enough to show map and list together again.

[2015-09-23 22:43] MikeTschudi commented on #95
Where would this be displayed? The list header currently has a label and switch which can take up most of the space in English, let alone other languages:
![image](https://cloud.githubusercontent.com/assets/2125181/10060883/3b3242bc-6209-11e5-8d11-3f0d7160516b.png)

We could insert this layer name above the bar with the switch, e.g., in the yellow-highlighted area shown below; this space would onl

[2015-09-23 22:51] allisonmuise commented on #95
cc @ScottOppmann @NikkiGolding  @LindsayThomas
Thoughts?

[2015-09-24 13:59] MikeMillerGIS commented on #95
I would vote to not include the layer title and wait for a request to add it

[2015-09-24 14:36] LindsayThomas commented on #95
@allisonmuise I agree with Mike. Because the application only looks at one layer there isn't a need to display the layer name.

[2015-09-24 17:25] allisonmuise commented on #95
@ScottOppmann & @NikkiGolding : This was functionality you requested in order to provide a title for the list in desktop view. Do you still want to pursue this? If so, do you have a preference for one of Mike's suggestions?

[2015-09-24 17:49] NikkiGolding commented on #95
@allisonmuise If it is configurable like @MikeTschudi  suggests it gives people the flexibility to add it if they choose. Above the bar works for me

[2015-09-25 21:22] MikeTschudi opened #96 "Apply color theme to more parts of UI"
Color theme currently applies to major dividing lines, selected feature, heading of selected feature's details display, and submit button

Update to apply to
* title, sign-in, cancel, and dropdown menu text
* inversion fill upon hover over sign-in
* inversion fill for comment and gallery visible states
* dropdown menu outline
* dropdown menu and help buttons
* filter toggle 'on' background
* like,

[2015-09-29 16:38] MikeTschudi commented on #96
Commit 72891aa67baa80d594f1ce0e52399e38e6e59984

[2015-09-29 16:39] MikeTschudi commented on #96
Commit 72891aa67baa80d594f1ce0e52399e38e6e59984

[2015-09-29 17:21] MikeTschudi commented on #96
Only icons remain:  dropdown menu, help, like, comment, map, gallery, and popup's close

[2015-10-01 21:03] allisonmuise commented on #86
verified

[2015-10-01 21:03] #86 closed

[2015-10-01 21:03] allisonmuise commented on #85
verified

[2015-10-01 21:03] #85 closed

[2015-10-01 21:03] allisonmuise commented on #87
verified

[2015-10-01 21:03] #87 closed

[2015-10-01 21:04] allisonmuise commented on #94
verified

[2015-10-01 21:04] #94 closed

[2015-10-01 21:13] allisonmuise commented on #88
verified

[2015-10-01 21:13] #88 closed

[2015-10-01 21:19] allisonmuise commented on #62
verified

[2015-10-01 21:19] #62 closed

[2015-10-01 21:20] allisonmuise commented on #95
final decision was above the bar, configurable, and off by default.

[2015-10-01 21:22] allisonmuise commented on #96
verified text items are now theme-colored. Modifying graphics can be revisited next release.

[2015-10-01 21:22] #96 closed

[2015-10-05 16:55] allisonmuise opened #97 "Update to fully support web-tier secured services"
https://devtopia.esri.com/WebGIS/arcgis-portal-app-templates/issues/893#issuecomment-284331

[2015-10-06 20:29] allisonmuise opened #98 "remove luminosity toggle"
app header should always be white rather than guessing at a contrasting color

[2015-10-06 20:30] allisonmuise opened #99 "loading icon displays on 'home' and 'find me' nav buttons"
blue rectangle appears on the nav button when either of these nav buttons are clicked.

[2015-10-06 20:31] allisonmuise opened #100 "make app logo configurable"
app logo is not currently read from config panel

[2015-10-10 20:18] allisonmuise commented on #100
@MikeTschudi : I see this in default.js, but not in the config panel. Please add it there too.

[2015-10-12 21:45] skrishn opened #101 "Popup doesn't appear on clicking feature in IE 11, IE10 and Edge"
1. Please go the the app
http://localgovdev.mapsdevext.arcgis.com/apps/CrowdsourcePolling/index.html?appid=e8a635f816554f1693282516b574dba5

2. Click on a feature (Polygon feature in this app)

3. Notice that popup doesn't appear

Note: Issue is seen in IE11, IE10 and Edge. Not in IE9
          Issue not seen on production envrionment.
          Issue is not data, data source(Hosted or Server) or

[2015-10-12 21:45] skrishn commented on #101
/cc @allisonmuise

[2015-10-12 21:46] skrishn commented on #101
/cc @allisonmuise

[2015-10-12 23:35] allisonmuise commented on #101
issue is also present on iPads

[2015-10-12 23:35] MikeTschudi commented on #101
@ScottOppmann
Suba also found this behavior on iPad
It appears to be related to using Dojo's iOS-style slider switch: the problem was introduced by that change's commit, and within that commit, adding or removing the switch is all that it takes to break or fix the issue

[2015-10-12 23:51] allisonmuise commented on #101
@ScottOppmann : Considering this, how would you like us to handle this toggle? Should we go back to the check box for this release?

[2015-10-13 11:14] ScottOppmann commented on #101
@allisonmuise @MikeTschudi - Lets grab 30 min this AM when everyone is in to review options. I can not access the maps referenced above and would like to review options collectively.

[2015-10-13 20:08] MikeTschudi commented on #101
Dojo Mobile sets window.document.dojoClick to 'true' as part of its efforts to generate expected clicks in the mobile environment; see https://bugs.dojotoolkit.org/ticket/15878. Setting the parameter to 'false' shortly after startup appears to fix this problem, but need to test ramification of change.

[2015-10-13 22:30] MikeTschudi commented on #101
with commit 0bd048f020d05c6aeef0f95586a674d79bcc88f4,

Tap graphic, switch OK
* iOS 8.1 iPhone 6 Safari
* iOS 8.4 iPad 3 Safari
* iOS 9 iPad Mini Safari, Chrome
* Win 7 Chrome 45, 46
* Win 7 Firefox 41
* Win 7 IE 9, 10, 11

Tap graphic OK; too small for switch to be displayed
* iOS 9 iPhone 5 Safari, Chrome
* Android 4.4 Galaxy S4 Chrome

Tap graphic OK; switch problematic--works better by sliding

[2015-10-14 17:02] allisonmuise commented on #66
done - verified

[2015-10-14 17:02] #66 closed

[2015-10-14 17:03] allisonmuise commented on #48
verified

[2015-10-14 17:03] #48 closed

[2015-10-14 17:06] allisonmuise commented on #99
verified

[2015-10-14 17:06] #99 closed

[2015-10-14 18:53] allisonmuise opened #102 "required fields aren't enforced"
Fields that are marked required in the comment form do not need to contain values before the comment form is submitted.

Last release the 'Submit' button wouldn't appear unless all required fields were completed

[2015-10-14 18:55] allisonmuise opened #103 "links in help window are appended to current URL"
http://localgovdev.mapsdevext.arcgis.com/apps/CrowdsourcePolling/index.html?appid=a9dbadea935f48b5bf54c343563e0f52

The help window contains a link to esri.com that should open in the current window. clicking this link instead tries to open:
http://localgovdev.mapsdevext.arcgis.com/apps/CrowdsourcePolling/www.esri.com

This behavior is not reproducible in the currently released version of the app

[2015-10-14 19:35] allisonmuise commented on #103
user error - working links specify http://, links that get appended start with www.

[2015-10-14 19:35] #103 closed

[2015-10-14 19:37] allisonmuise opened #104 "messages about invalid values hard to read on phones"
![screenshot_2015-10-14-11-01-17](https://cloud.githubusercontent.com/assets/2752195/10495359/46f8be88-7270-11e5-852e-1029d314c140.png)

[2015-10-14 19:49] allisonmuise opened #105 "adjust nav buttons if no search configured"
if no search is configured, the search widget doesn't show up. To compensate, the nav buttons should draw higher on the screen

[2015-10-14 19:55] allisonmuise opened #106 "order of nav widgets & search results"
search results appear behind the 'current location' button
![10-14-2015 12-54-29 pm](https://cloud.githubusercontent.com/assets/2752195/10495848/dadb5758-7272-11e5-9ca7-c136e4264ad4.png)

[2015-10-14 20:00] allisonmuise opened #107 "photo attachments stretch in IE11"
doesn't happen in chrome, ff, or ie10
photos stretch to fill the viewer horizontally, but maintain their original vertical height

[2015-10-14 20:35] allisonmuise opened #108 "strip whitespace from entered values"
this will resolve issues when only spaces are entered in required fields.

[2015-10-14 21:07] skrishn opened #109 "Group icon doesn't appear near title on android phone and iphone. is this by design?"
![img_0013](https://cloud.githubusercontent.com/assets/3836616/10497733/5d73a09a-727c-11e5-979e-314055001d32.PNG)

[2015-10-14 21:19] allisonmuise commented on #102
user error - fields had a single space as a default value

[2015-10-14 21:19] #102 closed

[2015-10-14 21:27] MikeTschudi commented on #108
Handled via validation pattern in dijit in commit 1c3116e53a243e5db73174430bddf257ba620b78; ready for merge from branch 'trim-form-fields' into branch 'develop' when desired

[2015-10-14 21:30] MikeTschudi commented on #109
Icon is intentionally hidden when screen is narrower than 641 pixels so that the title has more room

[2015-10-14 21:33] allisonmuise commented on #98
verified

[2015-10-14 21:33] MikeTschudi commented on #107
App uses the "object-fit" approach to scale image attachments into the gallery, but it's not supported in any IE (cf. http://caniuse.com/#search=object-fit)

[2015-10-14 21:39] #98 closed

[2015-10-14 21:43] allisonmuise commented on #107
ok - we'll come back to this in a future release. Not sure if we'll want t o change or not.

[2015-10-15 16:09] MikeTschudi commented on #100
Added to configuration panel via commit 033db2fc011ec06266e4b45809c2b0c6f49147e9

[2015-10-19 21:38] #109 closed

[2015-10-19 21:40] #101 closed

[2015-10-19 21:40] #100 closed

[2015-10-22 18:25] MikeTschudi opened #110 "Help display resizes awkwardly if window resized while display is open"
After page refresh and before window resize:
![image](https://cloud.githubusercontent.com/assets/2125181/10674201/8dd9e02c-78ae-11e5-8f78-5164102ac0ea.png)

After resize while help display is open:
![image](https://cloud.githubusercontent.com/assets/2125181/10674229/a7a7f84a-78ae-11e5-85ef-9d066885c207.png)

[2015-10-22 23:31] skrishn opened #111 "Layer's popup removed from webmap show as 'undefined' in app"
If popup is removed from the layer in webmap then popup header shows as 'undefined' in the app on AGOL 3.10

1. Go to http://localgovdev.mapsdevext.arcgis.com/home/item.html?id=bd1a770f38ab4daa9fc8d365626c466b

2. Noticed the popup feature shows as 'undefined'

3. Attached the screenshot of app created in AGOL 3.9 and AGOL 3.10

3.9 app's screenshot

![popup_twitter](https://cloud.githubuserconten

[2015-10-22 23:32] skrishn commented on #111
/cc @allisonmuise

[2015-10-23 15:22] MikeTschudi commented on #111
Fixed in commit 541aaaa0a4e05188c052898a61507c74cc89167b

[2015-10-23 22:07] skrishn opened #112 "In Firefox, popup doesn't open from the top when previously viewed feature was scrolled to the bottom of the comment section"
1. In firefox browser, Open the app in http://localgovdev.mapsdevext.arcgis.com/apps/CrowdsourcePolling/index.html?appid=e8a635f816554f1693282516b574dba5 Firefox
2. Click on feature (Sarah)
3. Scroll down to bottom of the page to view the comments
4. Click back button
5. Click on another feature (McDonald)
6. Notice the items didn't refresh to show popup from the top, instead it shows the comments

[2015-10-26 21:12] skrishn opened #113 "When table popup is not configured to show Popup Title and/or when Popup"
1. Go to app
http://localgovdev.mapsdevext.arcgis.com/apps/CrowdsourcePolling/index.html?appid=e8a635f816554f1693282516b574dba5

2. Click on a feature (Example: McDonald)

3. Fill out the form without entering 'Name' field.

4. Notice in comments, there is no horizontal line

Note: In webmap the related table for this layer is configured to show 'Name' field in title. If title is left blank in pop

[2015-10-26 21:43] allisonmuise commented on #113
@skrishn : Does the same behavior exist on production?

[2015-10-26 21:49] MikeTschudi commented on #113
Yes; it's an attribute of popup displays. If the popup's title field is empty, either because no title was configured or because it only contains an attribute and that attribute's value is empty, then both the title area and the horizontal line are hidden by the JSAPI popup renderer.

An enhancement to make it easier to read these comments is to apply a border around each comment. E.g., the follow

[2015-10-26 21:56] allisonmuise commented on #113
I don't think the border is necessary - it makes for a lot of lines when the title is there. The line is part of the popup title - if users want the lines they can configure a popup title.

[2015-10-26 21:56] #113 closed

[2015-10-30 17:41] LindsayThomas opened #114 "remove exclamation point in default text of configuration panel"
Update configuration text below:
Thank you! Your report has been submitted.
to
Thank you. Your report has been submitted.

This is really minor. It makes application seem unpolished.

[2015-10-30 17:50] LindsayThomas opened #115 "Clicking on a feature that is currently "selected" by the Search widget, will not update the list"
Clicking on a feature that is currently "selected" by the Search widget, will not update the list

Repo Steps
Open a polling application that has the "layer search configured"
Using the Search box on the left handside.
Search for a feature in the map.
Select the feature from the suggestion list
Application will select and zoom to feature

If you click on the selected feature then list will not get

[2015-10-30 17:59] LindsayThomas opened #116 "Configuration panel: Subtitle textbox illustrates 36 character max however, more than 36 characters are permitted by the app."
Restrict number of characters in UI configuration panel

[2015-10-30 19:54] skrishn opened #117 "Please specify the 'Commenter Name Field' value is case sensitive in the hint showing in config panel"
Currently its shows the following message

'Field in a table with a geodatabase relationship to the selected feature layer for storing the name of authenticated commenters. Table must exist in map'

As per design if the 'Commenter Name Field' value is not in the same case as the Field's name in the table, then field is not populated upon social media sign in in the app.

[2015-10-30 21:25] allisonmuise commented on #116
this is a limitation of the AGOL app configuration panel and there are no plans to update this.

[2015-10-30 21:25] #116 closed

[2015-10-30 21:26] allisonmuise commented on #115
search result selection graphic blocks the feature in the map.

[2015-10-30 21:28] allisonmuise commented on #112
verified on qa

[2015-10-30 21:28] #112 closed

[2015-10-30 21:54] allisonmuise opened #118 "available votes fields should be limited to numeric fields"
The current list includes all field types, including OIDS, GUIDS, date fields, and text fields which are not valid for the required functionality.

[2015-10-31 00:24] MikeTschudi commented on #115
@LindsayThomas, is this the enhancement?

One selects a suggestion
![image](https://cloud.githubusercontent.com/assets/2125181/10860726/f437736c-7f29-11e5-9a2e-7e802710755a.png)

and the collapsed search suggestions list looks like this
![image](https://cloud.githubusercontent.com/assets/2125181/10860646/9a90862e-7f28-11e5-90a1-f9e8fe560f8d.png)

instead of this
![image](https://cloud.githubuserco

[2015-11-01 20:09] allisonmuise commented on #115
@MikeTschudi : The issue is that
1) the details pane does not update to show the info for the feature selected from the search results, and
2) the feature selected from the search results cannot be clicked/tapped in the map to bring up the details, even after selecting another feature. It looks to me like the selection graphic is blocking interaction with the feature.

Ideally, choosing a feature

[2015-11-04 19:13] allisonmuise opened #119 "update boilerplate to resolve CORS issues in Portal"
https://devtopia.esri.com/WebGIS/arcgis-portal-app-templates/issues/959

[2015-11-23 18:54] MikeTschudi commented on #118
It's already limited to integers, so this may be a platform issue:
[code]

[2015-12-14 22:50] MikeTschudi commented on #118
Changed to new configuration type label via commit 2810ed66f900a2d1d37e5b5e60348ad00859c61d

[2015-12-14 23:04] MikeTschudi commented on #118
@allisonmuise The AGOL configureApp converts the field type to lowercase before checking its value everywhere except in one place: the place where the supported types are extracted from the configuration. Because the comparison at this point is with a camel-cased "layerAndFieldSelector", Crowdsource Polling's all-lowercase tag "layerandfieldselector" doesn't match and so the supported types are ig

[2015-12-14 23:18] allisonmuise opened #120 "Config option for help as splash screen"
add config option (False by default) to present the help window on app load.

[2015-12-15 00:09] allisonmuise commented on #118
yes, this is a good idea

[2016-01-05 19:26] allisonmuise commented on #115
verified

[2016-01-05 19:26] #115 closed

[2016-01-05 19:30] allisonmuise commented on #110
verified

[2016-01-05 19:30] #110 closed

[2016-01-05 19:31] allisonmuise commented on #106
verified

[2016-01-05 19:31] #106 closed

[2016-01-05 19:32] allisonmuise commented on #111
verified

[2016-01-05 19:32] #111 closed

[2016-01-05 19:33] allisonmuise commented on #118
@MikeTschudi : I am still seeing fields of all types in the votes field selection parameter on devext. Could you take another look at this?

[2016-01-05 19:35] allisonmuise commented on #108
verified that required parameters with only whitespace are still marked as needing values

[2016-01-05 19:35] #108 closed

[2016-01-05 19:53] allisonmuise commented on #118
update - needs config content updated in template

[2016-01-08 18:01] allisonmuise commented on #118
verified

[2016-01-08 18:01] #118 closed

[2016-01-26 21:31] allisonmuise opened #121 "Multi-line text entry setting not honored"
In the popup configuration, text fields have the option to display as single or multi-line parameters in the editing form. Regardless of this setting, Comment form parameters are displaying as single line.

@MikeTschudi : Could you do a LOE estimate for 4.1? If it's super easy and you've got the bandwidth, let's do it; otherwise I'll bump to 4.2.

[2016-01-26 23:12] MikeTschudi commented on #121
Please double-check that the multi-line setting was saved.  In testing just now, saving the popup and then the webmap did not actually save the configuration change from single-line to multi-line.  Once I was sure that a field was configured as multi-line, it appeared as expected:
![image](https://cloud.githubusercontent.com/assets/2125181/12598420/198b382e-c43f-11e5-9515-94ebe819ef55.png)

[2016-01-27 16:42] allisonmuise commented on #121
*Pushes button*
That was easy

closing this issue as my error

[2016-01-27 16:42] #121 closed

[2016-01-28 17:40] skrishn opened #122 "Form with Fields marked as 'required' loads with red exclamation mark"
Go to this app
http://localgovdev.mapsdevext.arcgis.com/apps/CrowdsourcePolling/index.html?appid=f1be2bf0ee9f4b0f8fd37197c744746a

1. Click on a feature

2. Click on comment

3. Notice the fields in the form

![image](https://cloud.githubusercontent.com/assets/3836616/12653151/0a6cff16-c5a3-11e5-86af-bcfd1ebec305.png)

[2016-01-28 17:51] skrishn opened #123 "Entering a value in 'Required' field is not accepted the first time."
Go to this app
http://localgovdev.mapsdevext.arcgis.com/apps/CrowdsourcePolling/index.html?appid=f1be2bf0ee9f4b0f8fd37197c744746a

Click on a feature

Click on comment

Enter a value in the 'Name' field and notice the field is still red. Value gets accepted upon reentering.

[2016-01-28 18:40] skrishn opened #124 "Submit button disappears on hitting space in comment fields (if marked required)"
http://localgovdev.mapsdevext.arcgis.com/apps/CrowdsourcePolling/index.html?appid=f1be2bf0ee9f4b0f8fd37197c744746a

Click comment button

When entering a value in comment field with 'more than one word and with space', notice that the submit button disappears on hitting space and reappears on typing a text

[2016-01-28 22:36] MikeTschudi commented on #124
App is using the regexp validation pattern "\\S([\\S\\s]*\\S)?" to use Dojo dijit validation as a way to indicate that leading and trailing whitespace wasn't valid.  This is an error, because as one types a sentence, each time that one enters a space, the whole input becomes invalid until the next non-space character is entered.

[2016-01-29 03:53] MikeTschudi commented on #122
As designed:  feature service has blanks for defaults for required fields and leading-blank entries are not valid, so when comment form starts up, it flags these invalid values.  cf. #123

[2016-01-29 03:55] MikeTschudi commented on #123
As designed:  feature service has blanks for defaults for required fields and leading-blank entries are not valid, so when user types in a required field, he/she is appending to an invalid entry that stays invalid. It's not until the field is cleared and re-typed that it becomes valid.  cf. #122

[2016-01-29 16:40] allisonmuise commented on #122
Yes, this is ok

[2016-01-29 16:40] #122 closed

[2016-01-29 16:45] allisonmuise commented on #123
@skrishn : Please verify that these fields have whitespace (instead of Null) as default values in these required fields

[2016-02-04 22:28] skrishn commented on #123
Issue was reproducible with a new dataset by adding a  space in the default value for the fields that doesn't allow null values.

Issue was also reproducible with current dataset (published a new service for testing) but there is no  space in the default value for the fields that doesn't allow null values. Current dataset could be corrupted.

[2016-02-04 22:28] #123 closed

[2016-02-16 21:46] allisonmuise commented on #114
verified there are no exclamation point sin this config.

[2016-02-16 21:46] #114 closed

[2016-02-16 21:46] allisonmuise commented on #117
done

[2016-02-16 21:46] #117 closed

[2016-02-23 23:01] skrishn opened #125 "Fix RtL language display issue"
1. Open a crowdsource polling app
2. Set the browser language to arabic or hebrew (Right to left language)
3. Notice the Filter by Map toogle switch appears as below

![image](https://cloud.githubusercontent.com/assets/3836616/13269767/76cc1dc2-da3e-11e5-8ad4-485259c8cec0.png)

[2016-03-01 00:02] allisonmuise commented on #124
@skrishn : has this been verified?

[2016-03-01 00:04] skrishn commented on #124
yes. verified

[2016-03-01 00:08] allisonmuise opened #128 "Cannot submit comments when service contains multiple layers and related features are not in index 0"
When using a service with multiple layers, only one of which participates in a relationship with a table, the related feature layer must be in index position 0 in order to submit comments to it's table.

The order of layers in the AGOL map has no impact.

[2016-03-01 00:14] #124 closed

[2016-03-01 04:38] MikeTschudi commented on #128
I believe that line 181 in js/lib/LayerAndTableMgmt should use `tablerelate.relatedTableId` instead of `tablerelate.id` even though it is referring to its related feature layer. Currently, block is
[code]
Because the condition fails, the `tableKeyField` variable is not being set; this field is what helps to tie a comment back to its feature layer.

The problem occurs when the related feature layer

[2016-03-14 16:03] allisonmuise commented on #125
@MikeTschudi : This issue is larger than the one instance mentioned above. This app is not very RtL-friendly. Let's take a look at the work CT has done with Reporter and see where else enhancements need to be made

[2016-03-14 16:05] allisonmuise commented on #128
@MikeTschudi : Which branch did this get checked into?

[2016-03-14 16:11] MikeTschudi commented on #128
master

[2016-03-14 16:12] MikeTschudi commented on #70
Is there a repo case?  The heart will only appear if the votes field is configured.

[2016-03-14 16:15] allisonmuise commented on #70
there wasn't a heart a year ago when this was logged.
closing this as fixed

[2016-03-14 16:16] #70 closed

[2016-03-14 16:51] MikeTschudi commented on #128
Moved fix to 'develop' branch

[2016-03-22 15:06] MikeTschudi commented on #120
@allisonmuise: Is this option to be supported in the hosted environment or just the standalone environment?

[2016-03-22 16:05] allisonmuise commented on #120
in both

[2016-03-24 17:31] MikeTschudi commented on #97
Enabled for hosted environment; disabled otherwise

[2016-03-28 20:33] allisonmuise commented on #125
In RtL languages:
- [ ] Display the app logo in the right side of the header
- [ ] Display the help icon in the left corner of the header
- [ ] Display the sign in button to the right of the moved help button
- [ ] Move toggle to the left of the toggle label
- [ ] Move vote count to the left side of each list item and align them with the left margin. Text should stay aligned right. Hearts should s

[2016-04-06 16:30] allisonmuise opened #129 "Cannot enter date/tiem in comments"
Repro steps using a layer with a date field:

1) Open the item details page for the layer. In the Tables section, click the small down arrow beside the comment table name. Choose Time Settings, and enable time of the date field.

2) Add the layer to a map and open the popup setting for the table.

3) Click the Configure Attributes link and choose the date field. Set the date format to one of the o

[2016-04-06 22:17] MikeTschudi commented on #129
It appears that it is not necessary to change the table's time settings in item details because a date field remains of type `esriFieldTypeDate` whether or not this setting has been used. The setting is for supporting a different type of app: one which has a time slider and can filter features based on time.

The popup is necessary, however, because at least some fields in the popup can have a `fo

[2016-04-07 15:38] MikeTschudi commented on #129
Implementation in commit:

If one of the time suffixes is present for a date field in a comment table's popup, the date dijit is split into a date and time dijit pair. The format of the time dijit display uses AM/PM for the `-ShortTime` and `-LongTime` suffixes and 24-hour for the `-ShortTime24` and `-LongTime24` suffixes:

![image](https://cloud.githubusercontent.com/assets/2125181/14356700/c1775

[2016-04-07 15:43] allisonmuise commented on #129
@MikeTschudi
Thanks! What you've described above looks exactly like what I was hoping we could do.

[2016-04-07 18:15] MikeTschudi opened #130 "App does not check for browser support for geolocation"
Creates LocateButton without any check

[2016-04-07 18:32] jfrygeo opened #131 "Receive “Error: Cannot convert a value of type ‘java.lang.String’ to ‘TIMESTAMP’ when supplying a date value in the application"
When supplying a Date Value I receive the error:

“Error: Cannot convert a value of type ‘java.lang.String’ to ‘TIMESTAMP’

- @MikeTschudi - " The error message that you’re seeing is a response that the app is getting from somewhere else—the app has no Java—and we’d like to track it down because the time-entry enhancement is not going to fix the problem:  the app will still be sending a single dat

[2016-04-07 21:17] MikeTschudi commented on #130
The JSAPI LocateButton widget itself includes a check

[2016-04-07 21:17] #130 closed

[2016-04-07 21:50] allisonmuise commented on #105
verified

[2016-04-07 21:50] #105 closed

[2016-04-07 22:29] allisonmuise commented on #104
verified

[2016-04-07 22:29] #104 closed

[2016-04-07 22:29] #119 closed

[2016-04-07 22:30] #97 closed

[2016-04-07 22:31] allisonmuise commented on #120
@MikeTschudi : Did the the updated config panel go to Ian with this change?

[2016-04-07 22:53] allisonmuise commented on #128
verified

[2016-04-07 22:53] #128 closed

[2016-04-07 22:58] allisonmuise commented on #131
@MikeTschudi : Is this the same as #129 , or is it a separate issue?

[2016-04-08 01:03] MikeTschudi commented on #131
Separate.  #129 is an enhancement to allow time info to be specified along with date info in the comment form, and the result is still a single JavaScript date object.

This issue is a low-level interaction problem between the JSAPI and a particular database:  the API is sending dates as a string and the database is rejecting this format. So far, it only seems to work with epoch-style numeric date

[2016-04-20 16:23] MikeTschudi commented on #131
The JSAPI's applyEdits function uses dojo.toJson to JSONify a JavaScript Date object for sending to a feature service. The result is a string, which our feature services generally accept in addition to the ArcGIS REST standard of milliseconds. But because the string format is not part of the standard, it is possible for there to be backend DBs that do not accept the string, as John found.

We'll a

[2016-04-20 16:51] MikeTschudi commented on #131
App updated; applyEdits change under consideration for 3.17 JSAPI

[2016-04-20 17:25] jfrygeo commented on #131
@MikeTschudi Since the Crowdsource Polling Application is part of the out-of-the box web application templates distributed with Portal for ArcGIS, will future releases of portal have this updated functionality?

@elinz @jrweakland

[2016-04-20 17:43] MikeTschudi commented on #131
The Crowdsource Polling update will be part of future releases--it's already been checked into the web application templates repository.

[2016-04-20 21:59] ScottOppmann opened #132 "Add ability to dislike a project or issue"
Per feedback from sales team (while at Planning conference):

It would be helpful to have a thumbs up and a thumbs down choice…since people are just as likely to oppose a planning agenda item as they are to approve of it.

Consider adding the ability to like (current heart) and dislike features.

[2016-04-26 19:04] allisonmuise commented on #129
@MikeTschudi : Is this in devtopia for me to test? If so, can you assign it to me?

[2016-04-26 19:05] allisonmuise commented on #125
@MikeTschudi : Can we address any/all of these for 4.2?

[2016-04-26 20:31] allisonmuise commented on #125
moving to 4.3

[2016-05-02 17:47] allisonmuise commented on #120
related to 4664 in arcgis-js-api

[2016-05-02 17:47] #120 closed

[2016-05-02 17:48] allisonmuise commented on #131
4664 in arcgis-js-api

[2016-05-02 17:48] #131 closed

[2016-05-02 18:00] allisonmuise commented on #129
verified

[2016-05-02 18:00] #129 closed

[2016-05-13 23:01] allisonmuise opened #133 "BUG-000095610 - Commenting within the Crowdsource Polling application fails if using a feature service published via ArcGIS for Server."
Can't submit comments when services are published using ArcGIS Server and comment form contains a date field.

This app is available internally:
http://arcgis4localgov2.maps.arcgis.com/apps/CrowdsourcePolling/index.html?appid=d557d6ea816c4e62955de1ad9a1b73fa

@MikeTschudi : When you are back in the office, could you evaluate to see if this is something that can be fixed for this release. If not I'

[2016-05-16 14:07] MikeTschudi commented on #133
Same underlying issue as #131
Fixed via commit dc1ec27825720d436d3991eea6085eddc865778c and in release queue
@allisonmuise @iwittenmyer

[2016-05-25 22:33] allisonmuise commented on #133
verified by @skrishn

[2016-05-25 22:33] #133 closed

[2016-06-01 22:15] pjdohertygis opened #134 "Support for Attachments on Comments"
User: Local Politician
Target Audience: Public
Business Problem: He wants to engage citizens and ask for their feedback on their local bus stations. He'd like them to add comments and **photos** that his team can review. For instance, maybe their bus stop is consistently dirty or in disrepair - he'd like to see a photo.
GIS Problem: Add attachments to a table.

Let @Jiriteach and I know if you hav

[2016-06-03 18:19] skrishn opened #135 "Error in console on submitting a comment by leaving date field blank"
Error message in console (Uncaught TypeError: Cannot read property 'getTime' of null) on hitting Submit button if date field is left blank even when it’s not a required field.

1.	Open this app: http://localgovqa.mapsqa.arcgis.com/apps/CrowdsourcePolling/index.html?appid=f622b806ebdc4701a14ef2747da390fb. (Please use Victor feature as the rest is used by automated tests)
2.	Fill out the form – leav

[2016-06-03 20:24] vmagnis opened #136 "Error When Adding a Comment"
I am getting this error when a comment button is used.

"[OBJECTID]
A required field is neither initialized nor in the form"

Thanks

Vicki

[2016-06-03 22:47] allisonmuise commented on #136
Hi Vicki,

Sounds like a field that does not accept null values either doesn't have a default value or isn't exposed in the comment form. If you've got all required fields exposed or set with default values, try contacting Esri Support Services or your distributor for help resolving this error message.

Thanks,
-Allison

[2016-06-06 12:25] vmagnis commented on #136
It's an ObjectID field so it's an auto increment  field. And it allows me to enter comments and saves them and the ObjectID field gets updated but I get that error message.

[2016-06-07 23:09] skrishn commented on #135
@allisonmuise @ScottOppmann Verified

[2016-06-07 23:09] #135 closed

[2016-06-08 16:28] allisonmuise commented on #136
@vmagnis I can't reproduce this issue. Please contact Esri Support Services or your distributor. They will have the resources to help you troubleshoot this issue.

[2016-06-08 16:28] #136 closed

[2016-07-19 19:09] allisonmuise opened #139 "Configuration option to control order of items in list"
Add a configuration option to allow records to be sorted alphabetically or by age (OID) either ascending or descending.

[2016-07-28 10:47] MarkCooperSDC opened #140 "Allow comments to be hidden"
Hi

This is my first post on github so please forgive me if this is not the correct place to ask this!

This template is ideal for some public consultation work we are doing. However, when a member of the public has made a comment, we require this not to be displayed on the app (at least until it is moderated). Is there a way to prevent submitted comments from showing and just show the comment cou

[2016-07-28 17:25] allisonmuise commented on #140
@MarkCooperSDC :
Yes! Both functions are possible, although the number of comments will reflect the number of comments that have been approved and email notification does require more than just AGOL.

To send email notification when features are created, you will need to set up GeoEvent Server.

To moderate comments, set a filter on the comment table so that no comments meet the filter requirement

[2016-07-29 16:00] allisonmuise opened #141 "Limit voting to one vote per item per browser session"
When Vote button is clicked once, it currently turns blue. Additionally, modify the button behavior so that after being clicked once, clicking it again does not further increment the vote count.

Store the ID of all items that have been voted for in the current browser session. When an item is opened, check to see if it has been voted for in the current session. If it has been, load the Vote butto

[2016-07-29 16:07] allisonmuise commented on #125
verified on devext

[2016-07-29 16:07] #125 closed

[2016-08-01 11:56] ScottOppmann commented on #141
@allisonmuise - will we implement a similar solution in Reporter once we prove this out?

[2016-08-01 14:40] MarkCooperSDC commented on #140
Thanks. I have got that bit to work exactly how I need it.

Unfortunately, I don't think I will be able to use it as I need to show another layer on the map and this appears to prevent comments being collected. Even if it did allow for this, I manage to get that working, there doesn't appear to be a way to add a legend file. I don't suppose you know if there is a way round this?

I will post a que

[2016-08-01 15:48] allisonmuise commented on #141
@ScottOppmann : Already done. Got the Reporter code drop with the change this AM

[2016-08-01 15:51] allisonmuise commented on #140
@MarkCooperSDC : Thanks! If you @mention me in geonet, I'll reply there with info re: legend and displaying additional layers.

[2016-08-01 15:51] #140 closed

[2016-08-01 16:00] MarkCooperSDC commented on #140
@allisonmuise - is your username tthe same on geonet?

[2016-08-01 16:02] allisonmuise commented on #140
@Allison_Muise should find me.

[2016-08-02 23:55] skrishn opened #143 "Update the tooltip string for voted item"

[2016-08-02 23:55] skrishn commented on #143
@allisonmuise

[2016-08-03 14:52] allisonmuise opened #144 "Display popup info for non-comment layers"
Investigate options for displaying the popup for layers that are not the designated comment layer. floating popup on map? how could this work on mobile devices?

[2016-08-04 16:13] tcprocto opened #145 "Request\Question: Passing in a feature parameter via the URL"
Currently, is there a way to pass in the objectid or some other feature parameter to zoom directly to that feature via the URL?

Thanks,
Troy Proctor

[2016-08-04 16:36] allisonmuise commented on #145
@tcprocto Currently there is not, but it's an interesting idea. I'll put this on the list to consider for our release later this year.

[2016-08-05 15:58] allisonmuise commented on #141
verified

[2016-08-05 15:58] #141 closed

[2016-08-05 16:00] allisonmuise commented on #89
Safari is windows safari which isn't supported, and AGOL has limited support for IE9

[2016-08-05 16:00] #89 closed

[2016-08-05 16:09] allisonmuise commented on #132
@ScottOppmann : Something similar came up at UC this year. I suggested not using the 'Vote' function at all and instead recommended using a drop-down list in the comments to provide a more elaborate set of choices.

Advantages of this are:
- ability to require name/contact info/etc with the 'vote'
- customized list of 'vote' options, for example 'Love it', 'Like it', 'Neutral', 'Dislike', 'Ugly'
-

[2016-08-05 16:13] allisonmuise commented on #143
done
'Vote counted'

[2016-08-05 16:13] #143 closed

[2016-08-05 19:38] tcprocto commented on #145
Is there a portion of code I might be able to add to get the URL parameter functionality to work?

Thanks,
Troy Proctor

[2016-08-05 19:39] tcprocto commented on #145
I didn't mean to close that.

[2016-08-08 13:49] agcallis opened #146 "Adding Custom URL Parameters"
Is there away to add in extent or feature layer parameter into URL?

I see in the TemplateConfig.js the following:
  //This option demonstrates how to handle additional custom url parameters. For example
  //if you want users to be able to specify lat/lon coordinates that define the map's center or
  //specify an alternate basemap via a url parameter.
  "urlItems": [
  ]
Does this allow for extent

[2016-08-08 16:15] allisonmuise commented on #146
Duplicate #145

[2016-08-08 16:15] #146 closed

[2016-08-08 20:26] MikeTschudi commented on #146
@agcallis:  Yes, this is part of the process of getting the app to use a custom URL parameter.

The app is based on the (application-boilerplate-js 3.x)[https://github.com/Esri/application-boilerplate-js/tree/master]. The app does some initial setup and then passes control to the custom part of the app. One of the tasks supplied by the boilerplate is the screening of URL parameters: any custom URL

[2016-08-08 20:46] MikeTschudi commented on #145
@tcprocto: There are two steps to adding a custom URL parameter:

1. Add the parameter's keyword to the config/templateConfig.js file (see #146 )
2. Modify the app to do something with the supplied parameter

For step 2 for passing the objectid, e.g., `http://server/crowdsource-polling/?id=9`, one could insert some behavior after the app finishes setting up that
1. Queries by that object id
2. Ame

[2016-08-18 14:59] MikeTschudi opened #147 "JSAPI 3.18 breaks app for some webmaps"
JSAPI's createMap function fails with a typeerror

Examples:
- out of the box with no URL params: <server>/crowdsource-polling
- <server>/crowdsource-polling/?appid=71128d0e83be41fc90a0379a36e65e53
- <server>/crowdsource-polling/?appid=51a4564410d744e28d8d289f84adfd50

using the jsdev.arcgis.com/3.18 version

[2016-08-22 16:24] allisonmuise opened #148 "update help panel to match reporter"
Update help panel so that it blends better with the rest of the app using some elements from the reporter help panel. Grey out the app while the window is open, round corners, etc

[2016-08-22 16:25] allisonmuise opened #149 "config option for filtering by extent by default"
Scott M wanted to enabled “Filter list by map” by default since there are so many locations, but I wasn’t aware of a way to do this … ?

[2016-08-22 16:26] allisonmuise opened #150 "pan (rather than jump) to features"
everytime a business location is clicked to select it for polling (either clicking on the map or from the list), the map zooms in (until the max zoom in limit is reached) – I have a feeling this is because the locations being “polled” are points, so the app is “zooming to extent” which causes a zoom in? recommend considering a “pan to” when the geometry type is point, then let the user zoom in / o

[2016-08-22 16:28] allisonmuise commented on #150
(LA via @jessnoo email 8/18)

[2016-08-22 16:29] allisonmuise commented on #149
(LA via @ScottOppmann  & @jessnoo email 8/18)

[2016-08-22 16:32] allisonmuise opened #151 "config option to start in map view on phone"
Currently app loads on phones in list view. Make a config option to allow the app to open in map view first. Helpful when there are lots of features.

(LA via @jessnoo email 8/18)

[2016-08-22 16:35] allisonmuise opened #152 "Map always zooms in when clicking features on the map"
It appears that when you click on a feature that has a popup up associated with it (in this case that means the attribute values appear in the text panel to the right (at least as this version is configured) the map also zooms in.  If you then click on the same feature again, or another feature in the then current map extent, the map zooms in again.

(LA via @NikkiGolding email 8/18)

[2016-08-22 16:41] allisonmuise commented on #145
merge branch id-url-param for 4.4

[2016-08-26 16:19] allisonmuise opened #153 "Show search at top of list view in phone mode"
scott moore 8/24/2016

[2016-08-26 16:20] allisonmuise opened #154 "back should return to previous screen"
in smartphone view:
open map view
click on a feature to open the details
click the back button

app returns you to the list instead of the map

[2016-09-21 21:11] skrishn opened #156 "Search widget displays 'layer' search when not configured in webmap"
By default webmap setting is set to search 'By Address'  but  search widget in Crowdsource Polling displays a drop-down to search by 'Layer' also

![image](https://cloud.githubusercontent.com/assets/3836616/18728905/40b4f9ea-8004-11e6-820e-05c255b07638.png)

If this is a default behavior then the "Search In" drop-down values should display Layer Name as it is in the webmap example: Polling Data- P

[2016-09-22 13:47] agcallis commented on #145
@MikeTschudi  Thanks you so much for the ID URL Param addition, It works great for Google Chrome. Do you have any ideas why it wouldn't work in Internet Explorer 11? The application open and loads in Internet Explorer 11 but it doesn't zoom to the id like it does with google chrome. It just stays at full extent.

[2016-09-24 23:38] MikeTschudi commented on #145
@agcallis Thank you for bringing this up.  It didn't work in IE 11 because of an error on my part:  I used the newer `Number.parseInt` function to parse the id parameter rather than the older global `parseInt` function, and IE 11 doesn't support the former.  I changed the app to use `parseInt`, and now this feature works for Chrome 53, Firefox 49, IE 11, and Edge.

The update is in branch id-url-p

[2016-09-28 16:10] allisonmuise opened #157 "508 compliance"
https://www.w3.org/TR/WCAG20/
https://www.w3.org/WAI/
http://webaim.org/
http://a11yproject.com/
https://a11ywins.tumblr.com/

[2016-10-06 15:27] MarkCooperSDC opened #158 "Search Layer"
Hi

I using this template in AGOL and the Search box uses the ESRI World Geocoder (or ALL of the geocoders set up on the Organisation) and ONE field from the layer used to form the questions.

My question are:

1) Can it be limited to only look at certain geocoders
2) How can you tell it which field in the layer it uses to search?

Many thanks

@allisonmuise

[2016-10-06 16:38] allisonmuise commented on #158
@MarkCooperSDC : This app uses the map's search settings. If you'd like the app to search additional fields, open the Settings tab on the Details page for the map. Enable the layer search and choose which layers and fields you'd like included. I see that it is searching a field by default, even when the Layer search is disabled. I need to investigate this further.

The geocoders used should be you

[2016-10-07 13:33] MarkCooperSDC commented on #158
Thanks @allisonmuise .I have configured the search to work for the layers. However I am now having major problems with the ESRI World Geocoder. When you search for an address, it appears from a pick list but when you select the option it fails to find the address. Have you seen this behaviour before?
![crowdsource1](https://cloud.githubusercontent.com/assets/20701486/19191458/74391786-8c9a-11e6-84

[2016-10-07 15:52] allisonmuise commented on #158
@MarkCooperSDC : Hmm...I haven't seen that. Would you mind contacting Support with about this? They have better resources for troubleshooting than GitHub :) When they pin down the cause they'll make sure it gets reported to me if it's a Polling issue or the AGOL team if it's a geocoder issue.

[2016-10-07 17:59] MikeTschudi commented on #56
main.js has a spot where the app zooms to a feature, whether the feature was selected by a click on it in the map, a click on its item in the summary list, or as a search result:
[code]
Propose to use a variant of this function from Finder/FEF;
[code]

[2016-10-07 18:15] MikeTschudi commented on #139
We'll need to add a template configuration item to specify the sort field when publishing the app. If undefined, no sorting.

ItemList.js builds the summary list using the function
[code]
so we can insert before the `array.forEach()` a `this.items.sort();` call referencing a compare function.

Might want to encourage user to use a field other than OID in case OIDs for deleted items are re-used by

[2016-10-07 18:25] allisonmuise commented on #139
To maintain consistency with existing app behavior, the default behavior when no field is selected must remain consistent with the current behavior which is, I believe, sorted by OID, descending.

OID values are not re-used when a feature is deleted, only when the service as a whole is re-published.

[2016-10-07 18:33] MikeTschudi commented on #139
The default is the order returned by the feature service; there are no guarantees about this order.

[2016-10-07 18:55] MikeTschudi commented on #134
We can get implementation ideas from Crowdsource Reporter's geo-form widget; see the `_createAttachments()` function hierarchy.

[2016-10-10 16:48] allisonmuise opened #159 "Honor filters on tables"
Currently, the comments thread does not honor any filters that have been applied to the related table.

[2016-10-11 21:22] allisonmuise opened #160 "ENH-000099975 Ability to specify a single locator when configuring Crowdsource Polling template and other templates that use locators or the search widget"
Include the ability to specify one locator when configuring Crowdsource Polling Template instead of app inheriting all locators in organization's Utility Services Settings
Salesforce ID: ENH-000099975
Salesforce Submitter: Krista McPherson
Salesforce Submit Date: 10/10/2016 9:41 AM
Salesforce Bug Type: Product
Salesforce Severity: Medium
Repro Data: \esri.com\sf_filestore\PRD\Attachments\Defects\E

[2016-10-11 21:22] allisonmuise commented on #160
arcgis-portal-app-templates/#1347

[2016-10-25 22:40] allisonmuise opened #161 "apply org theming"
Please manage work on this issue separate from work on other issues for 4.4.

Org-level theming options will be accessible in this JSON format:

[code]

These options will be read in to the app and applied by the same mechanism that values from defaults.js are read in until alternate values are supplied in the configuration panel. This means that there may be a disconnect between what is shown in

[2016-10-25 23:07] allisonmuise commented on #161
![10-25-2016 4-05-15 pm](https://cloud.githubusercontent.com/assets/2752195/19707550/126db2c8-9acd-11e6-87b1-9c1f7cc12618.png)

![10-25-2016 4-05-23 pm](https://cloud.githubusercontent.com/assets/2752195/19707551/14a134fc-9acd-11e6-9ead-2a6a90bbbc07.png)

![10-25-2016 4-05-29 pm](https://cloud.githubusercontent.com/assets/2752195/19707554/16219416-9acd-11e6-8fde-c3860c22496e.png)

![10-25-2016 4-0

[2016-10-26 15:26] MikeTschudi commented on #139
@allisonmuise -- Proposed configuration UI additions in yellow:
![image](https://cloud.githubusercontent.com/assets/2125181/19732401/80f78baa-9b55-11e6-806f-b8266c10a89f.png)

[2016-10-26 15:38] allisonmuise commented on #139
@MikeTschudi : looks good. The fields are pulled from the selected layer?

[2016-10-26 15:41] MikeTschudi commented on #139
Yes, using standard configuration component `layerAndFieldSelector`.

The sort field can be of type esriFieldTypeSmallInteger, esriFieldTypeInteger, esriFieldTypeSingle, esriFieldTypeDouble, esriFieldTypeString, or esriFieldTypeDate.

[2016-10-26 15:51] allisonmuise commented on #139
👍

[2016-10-26 21:56] MikeTschudi commented on #56
@ScottOppmann: Current implementation style for polygons, lines, points:

Polygons: outline boundary of polygon and fill with a very light wash
![image](https://cloud.githubusercontent.com/assets/2125181/19746629/1a2838e8-9b8c-11e6-838f-82790c0b43b4.png)

Line: outline line
![image](https://cloud.githubusercontent.com/assets/2125181/19746634/1f66612c-9b8c-11e6-91b7-6c242ba1e10c.png)

Point: draw t

[2016-10-26 22:27] ScottOppmann commented on #56
@MikeTschudi @allisonmuise - the polygon and line selections look fine, but i wonder a bit about using two concentric circles for points.  Should we just use a single circle around a point?

[2016-10-26 22:34] MikeTschudi commented on #56
I posted these snapshots because @skrishn mentioned that the concentric circles looked odd with a circle & dot point symbol that she'd worked with; you're not the only one wondering. :-)

[2016-10-26 23:11] allisonmuise commented on #56
Can we stay consistent with the rest of AGOL by using a single cyan square?

[2016-10-27 15:40] ScottOppmann commented on #56
I like that idea too.

Sent from Scott's iPhone
909-728-7082

On Oct 26, 2016, at 7:11 PM, Allison Muise <notifications@github.com<mailto:notifications@github.com>> wrote:

Can we stay consistent with the rest of AGOL by using a single cyan square?

-
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://urldefense.proofpoint.com/v2/url?u=https-

[2016-10-27 19:47] MikeTschudi commented on #56
Changed to AGOL-style form-fitting square:
![image](https://cloud.githubusercontent.com/assets/2125181/19782617/749fd7a6-9c43-11e6-82a1-46df06fd032b.png)

[2016-10-31 17:43] allisonmuise commented on #159
verified

[2016-10-31 17:43] #159 closed

[2016-10-31 17:46] allisonmuise commented on #56
verified

[2016-10-31 17:46] #56 closed

[2016-10-31 18:07] allisonmuise opened #162 "No vote count when sort field = vote field"
When the configured Votes field is the same as the field used for sorting, the number of votes for each entry doesn't display next to the popup title in the list or in the details view

[2016-10-31 18:55] allisonmuise commented on #145
@MikeTschudi What is the URL syntax to see this enhancement?

[2016-10-31 19:00] allisonmuise commented on #134
@MikeTschudi : I'm not seeing an option to add attachments as part of the form for adding related records. Should this appear automatically when attachments are enabled on the related table?

[2016-11-07 16:38] MikeTschudi commented on #145
http://server/crowdsource-polling/?id=objectid

[2016-11-07 20:18] MikeTschudi commented on #139
Custom sort function doesn't work reliably with null attributes in Firefox 49 and IE 11.

[2016-11-07 20:38] allisonmuise commented on #145
AGOL syntax:
http://ORG.arcgis.com/apps/CrowdsourcePolling/index.html?appid=GUID&id=OBJECTID

where
ORG is the organization
GUID is the app id
OBJECTID is the OID of the feature

If the OID is not found the app opens to show the full list of items

[2016-11-07 21:46] MikeTschudi commented on #162
By design; enhanced to permit use of same field

[2016-11-08 12:47] MikeTschudi commented on #139
Nulls and undefineds now sort before non-null/defined items

[2016-11-08 19:44] allisonmuise commented on #139
verified in FF, C, and IE11

[2016-11-08 19:44] #139 closed

[2016-11-08 19:46] allisonmuise commented on #162
verified

[2016-11-08 19:46] #162 closed

[2016-11-09 21:24] allisonmuise commented on #134
@MikeTschudi : any thoughts on this?

[2016-11-09 21:28] MikeTschudi commented on #134
I've only just started the design for this enhancement; I don't know enough to answer the question.

[2016-11-11 17:56] allisonmuise commented on #134
@MikeTschudi : Please look to the design that CT used for Reporter. They have already sent the code drop with the same enhancement for that app.

[2016-11-14 17:34] allisonmuise commented on #161
CLARIFICATION:

The logo mentioned in the JSON will point to the application logo, NOT the favicon as indicated in the mockups. When a logo is specified at this level it will override the current logic for this logo. When no logo is specified, the app should use the current logic for finding a graphic for this space.

[2016-11-14 17:35] allisonmuise commented on #161
Per AGOL team:

The config panel parameters will be connected to the org theming parameters by adding a sharedStyleProperty property to each of the affected parameters in the JSON. For example:

           {
               "label":"Title logo:",
               "fieldName":"logo",
               "type":"string",
               "sharedThemeProperty":"logo.small",
               "tooltip":"Defaults t

[2016-11-15 23:28] allisonmuise opened #163 "hide votes and comments buttons when user doesn't have editing permissions"
(reported from Holistic)
When accessing the application while signed in to an account that does not have editing capabilities, attempting to vote or submit a comment throws a browser error. Hide these buttons when the user does not have editing permissions, including when it is a level 1 account.

[2016-11-16 18:54] allisonmuise commented on #163
use cases where editing must be restricted:
- [ ] Authenticated AGOL user does not have editing capabilities (includes Level 1 users)
- [ ] Editing is restricted to members of a group containing the layers

None of these apply if the layer is shared with Everyone

[2016-11-16 23:59] MikeTschudi opened #164 "Check for objectIdField in addition to OID types when filtering out form attributes"
An bug in service publishing for when an object id field is assigned at publish time causes its type to sometimes be esriFieldTypeInteger instead of esriFieldTypeOID.

App filters out OID fields using field types, and fields with type esriFieldTypeInteger are considered valid form fields.  Workaround for now is for app to check the feature layer's objectIdField as well as field types.

[2016-11-17 16:54] allisonmuise commented on #164
@MikeTschudi : Can you just just display all fields set as editable in the popup configuration? Primary key fields can't be set as editable so that should prevent them from displaying:
![11-17-2016 8-52-55 am](https://cloud.githubusercontent.com/assets/2752195/20398732/62256d82-aca3-11e6-8632-03b8052aa214.png)

[2016-11-23 16:11] allisonmuise commented on #158
closing this as no further details provided

[2016-11-23 16:11] #158 closed

[2016-11-23 16:12] allisonmuise commented on #147
@MikeTschudi did this get addressed?

[2016-11-23 16:16] allisonmuise commented on #36
this will be covered in shared theming

[2016-11-23 16:16] #36 closed

[2016-11-23 16:17] allisonmuise opened #165 "Update to 4.x API"

[2016-11-28 16:09] MikeTschudi commented on #147
Resolved

[2016-11-28 16:09] #147 closed

[2016-12-05 21:47] allisonmuise commented on #134
@MikeTschudi Is this in and ready for testing?

[2016-12-05 21:47] allisonmuise commented on #164
@MikeTschudi : Is this in and ready for testing?

[2016-12-05 21:51] allisonmuise commented on #145
@MikeTschudi : Is the fix to make this work with Kelly's panel parameters in and ready to test?

[2016-12-06 18:05] allisonmuise commented on #145
verified

[2016-12-06 18:05] #145 closed

[2016-12-06 18:18] allisonmuise commented on #164
verified

[2016-12-06 18:18] #164 closed

[2016-12-06 18:23] allisonmuise commented on #134
@MikeTschudi : Can a message display when attachments are not able to be added successfully?

[2016-12-06 18:26] MikeTschudi commented on #134
Yes, but will take a half day or so to add upload monitoring to app

[2016-12-06 18:28] allisonmuise commented on #134
I'll put it for 5.1

[2016-12-06 18:28] #134 closed

[2016-12-06 18:32] allisonmuise opened #166 "Display message when attachment fails"
When an attachment cannot be added to a comment, display a message at the top of the comments panel with light yellow background, and dark yellow/orange text/outline : x of y attachments could not be added.

See Reporter for formatting of 'warning' message window.

[2017-01-09 19:47] MikeTschudi commented on #163
Implemented to the extent of API support.  The app will continue to display an error message for attempted votes or comments from logged-in-but-not-privileged users. From API notes:

Buttons can't be hidden because there appears to be no way for the app to know if a user can vote or comment until he/she attempts the vote or comment.

[2017-01-12 19:59] MikeTschudi commented on #152
Unable to reproduce using JSAPI 3.18 (the version when this issue was reported), 3.19, or 3.20dev using the app's try-it-live webmap, which has a custom attribute display popup.

[2017-01-12 20:28] allisonmuise commented on #152
@MikeTschudi : I can still repro this behavior using apps on production.

[2017-01-12 20:37] MikeTschudi commented on #166
crowdsource-reporter failed upload:
![image](https://cloud.githubusercontent.com/assets/2125181/21907216/7b6f0cca-d8c3-11e6-96c1-a63bf0947539.png)

[2017-01-12 21:34] allisonmuise commented on #163
@MikeTschudi does the org supply this information when the apps starts?

[2017-01-12 21:37] MikeTschudi commented on #163
@allisonmuise no; the information is not available until after the logged-in user attempts to access a resource for which he/she does not have access.

[2017-01-12 21:38] MikeTschudi commented on #163
Implementation matches the Viewer implementation

[2017-01-12 21:39] allisonmuise commented on #163
@MikeTschudi : hmmm... ok. That wasn't what I'd discused with them previously. That will hopefully make this easier for CT, too

[2017-01-12 22:00] MikeTschudi commented on #152
@allisonmuise figured out that it occurs with point layers.

If the point is not highlighted when clicked, it occurs; e.g., http://esri.github.io/crowdsource-polling/?appid=fcb943b54f1243e0899d8a53fdc59ae7

If the point is highlighted when clicked, it does not occur; e.g., http://arcgis4localgov2.maps.arcgis.com/apps/CrowdsourcePolling/index.html?appid=fcb943b54f1243e0899d8a53fdc59ae7

JSAPI versi

[2017-01-12 22:05] allisonmuise commented on #152
@MikeTschudi : perhaps I'm not understanding. Shoudl this have been fixed in October? I'm still seeing the issue on prd...

[2017-01-12 22:10] MikeTschudi commented on #152
@allisonmuise, do you see it with single repeat clicks on a feature?  Double-clicks zoom the map; October's work only fixed the single repeat clicks on a feature; it did not affect single clicks on different, unselected features.

[2017-01-12 22:25] MikeTschudi commented on #152
@allisonmuise, what should the behavior be?

With lines & polygons, it's easy and consistent even with repeats:  expand the bounds of the item by 175% and zoom to that expansion.  Points, without an extent, have nothing that permits consistent behavior, so the app simply zooms in by 2 regardless of the current zoom level.  (Repeat clicks on the same item don't do this because points are highlighte

[2017-01-12 23:03] allisonmuise commented on #152
I'm just selecting features from the list - not actually clicking the map at all.

Yes, let's go with no zooming at all.

[2017-01-13 13:38] MikeTschudi commented on #152
App follows same path whether a feature is selected in a map or in a list.  Zoom has been removed for features without extents (i.e., points).

[2017-01-13 21:29] MikeTschudi commented on #166
Implementation follows the crowdsource-reporter pattern:
![image](https://cloud.githubusercontent.com/assets/2125181/21946091/b6846780-d993-11e6-9f31-0c84614434ef.png)    ![image](https://cloud.githubusercontent.com/assets/2125181/21946194/2618c870-d994-11e6-9f86-48aacae85b48.png)

Note:  IE 11 doesn't support the file upload if one is using http instead of https.  We can probably detect this and

[2017-01-13 21:58] allisonmuise commented on #166
perfect! Yeah...let's detect and hide if possible.

[2017-01-19 04:47] MikeTschudi commented on #166
Updated via commit d4479ce5fbdb7c27575fd7619e2baa83525410ae

[2017-01-23 17:56] allisonmuise opened #168 "post-comment period workflow"
USFS, Geonet, etc:

How to support the workflow of a defined comment period, including leaving the app live and accessible for information purposes post-comment period

[2017-01-23 18:25] allisonmuise commented on #166
verified on FF, Chrome, IE 11

[2017-01-23 18:25] #166 closed

[2017-01-23 18:28] allisonmuise commented on #152
@MikeTschudi  - The app is no longer zooming, but panning appears to have been turned off as well. The app can maintain the same zoom level, but the extents should pan to center on the selected feature.

[2017-01-23 18:30] allisonmuise commented on #154
@MikeTschudi I'm still being returned to the list after clicking a feature on the map in smartphone view. If I open the details by clicking a feature on the map, I expect the back button to return me to the map, not the list.

[2017-01-23 18:37] allisonmuise commented on #161
@MikeTschudi shared theme appears to be applied to all configured applications immediately. Shared theme properties should not override previously-configured colors. They should only override the default options shown in the config panel for brand new apps.

[2017-01-23 18:38] allisonmuise commented on #163
@MikeTschudi : Is this installed in Devext and ready for testing?

[2017-01-23 18:39] MikeTschudi commented on #163
It's in devext, but I haven't set up convincing test cases for it yet

[2017-01-23 18:56] MikeTschudi commented on #154
Need to add update to go-to-map-view button inside the item details display

[2017-01-25 20:30] allisonmuise commented on #152
verified

[2017-01-25 20:30] #152 closed

[2017-01-25 20:32] allisonmuise commented on #154
verified

[2017-01-25 20:32] #154 closed

[2017-01-25 20:41] skrishn opened #169 "Search by layer updates the popup panel even if the layer is not congifured in the app"
Repro steps

1.	Choose a webmap with more than one layer.

2.	In the web map setting :

        1.	Check the option ‘Search by Layer’ and choose layer(s) and the field to be searched for.
        2.	‘Search by address’ can be checked or unchecked.

3.	Create a polling app and configure a layer

4.	Open the app
       1.	Click on the search bar
       2.	Enter a value of the layer that is configure

[2017-01-26 14:36] MikeTschudi commented on #169
Implemented @skrishn's idea to highlight the chosen result of a search without selecting it for the polling feature details list. Includes new ability to click on a highlighted item and, if it is in the configured polling feature layer, it opens in the polling feature details list; if not in the layer, nothing happens.

[2017-01-26 18:57] allisonmuise commented on #169
@MikeTschudi : This issue is in the 5.2 milestone. Did you install it for 5.1?

[2017-01-26 19:12] MikeTschudi commented on #169
Yes; missed the milestone note

[2017-01-26 20:09] skrishn opened #170 "Signing button does't show for newly configured apps unless Google signin is enabled"
- Create a new polling app and configure it

   - By default Twitter is enabled, but no sign in button is visible
   - Enable Facebook and notice no sign in button is visible
   - Enable Google plus and notice the sign in button is visilbe.

- Click Signin button and notice only Google option is available.

[2017-01-26 20:21] allisonmuise commented on #169
@MikeTschudi : ok, I'll move it to this milestone so that we remember to test and document it.

[2017-02-01 17:51] MikeTschudi commented on #161
Added org icon via 9c654ed585fe4943a4b12644c525180e1ec05c62

[2017-02-06 20:17] MikeTschudi commented on #170
Impossible to test on non-public network because of Facebook and Google+ callback requirements, and not reproducible on public network.

[2017-02-07 22:45] #170 closed

[2017-02-07 22:51] allisonmuise commented on #163
@MikeTschudi When signed in as a view-only user I can't see comments that were submitted by others.

[2017-02-07 22:53] allisonmuise commented on #169
@skrishn - please test.

If the issue has been fully resolved, please close the issue, add the Verified label, and remove the Installed label.

[2017-02-08 18:22] MikeTschudi opened #171 "Repeat use of Search dijit for same feature yields defective display"
Using the default webmap in the app, type "downtown" into the search dijit and choose the "Naperville Downtown 2030" feature from the Land Use Cases layer.  The app zooms to the feature.

In the search dijit, change the "downtown" a little without clearing it (e.g., to "downtow") and choose "Naperville Downtown 2030" again. The app appears to zoom in further and doesn't show the feature.

If you p

[2017-02-08 18:38] MikeTschudi commented on #171
Appears to be caused by conflict between Search dijit's zoom to item and app's zoom to item. Changed app to skip its zoom for Search dijit results.

[2017-02-08 19:10] allisonmuise commented on #171
@MikeTschudi : How significant is this change to the app code/functionality? We are doing certification so trying to keep a close eye on what needs testing, what changes are going in, and what their impact will be.

At this point we are trying to limit commits to final tweaks to new functionality, showstopper bugs, and regressions.

[2017-02-08 19:23] MikeTschudi commented on #171
Avoids defective map tiling display

[2017-02-23 16:57] #169 closed

[2017-02-24 17:25] allisonmuise commented on #163
@MikeTschudi  - the above comment is still an issue on devext. Can you fix today?

[2017-02-24 17:32] allisonmuise commented on #161
verified

[2017-02-24 17:32] #161 closed

[2017-02-24 17:46] MikeTschudi commented on #163
@allisonmuise May I have some clarification about what you're seeing, please?

Using the repro demo that you sent without logging in, I see three items.  Only the third one has comments.

When I log in using the supplied credentials, the app is not showing the "Comments" section at all--no heading, no "No comments" for the first two items, no comments text for the third item.  This is seriously wr

[2017-02-24 17:49] allisonmuise commented on #163
nope, that's what I'm seeing too. Everything looks good except that the existing comments aren't displaying with the viewer account.

[2017-02-24 18:41] MikeTschudi commented on #163
With commit 097605b1bd1c35823754d67d8025827a3dccd463, fixed comments display for signed-in view-only user.

App had been configured to turn off everything about comments for these users: add-comment button and comments display. Changed to only turn off button.

[2017-02-24 20:55] MikeTschudi commented on #163
@allisonmuise looks good in devext

[2017-02-24 22:50] allisonmuise commented on #163
@MikeTschudi  sure does!

[2017-02-24 22:50] #163 closed

[2017-02-27 16:46] allisonmuise opened #172 "Radio Buttons for choosing sort order not working"
radio buttons can't handle Boolean values. must be strings.

[2017-02-27 16:46] allisonmuise commented on #172
verified

[2017-02-27 17:30] allisonmuise commented on #171
@MikeTschudi Is this going out for 5.1, or is this for 5.2?

[2017-02-27 17:34] allisonmuise commented on #132
@ScottOppmann , are you good with the workflow i described above? can i close this?

[2017-02-27 18:33] allisonmuise commented on #172
👍

[2017-02-28 21:59] allisonmuise commented on #153
the search widget is currently only visible on desktops and tables. In smartphone view, add the search widget between the title header an the feature list.

![2-28-2017 1-53-45 pm](https://cloud.githubusercontent.com/assets/2752195/23436063/0d927ed8-fdbe-11e6-9446-aa1a1ea1ab1e.png)

[2017-02-28 22:00] allisonmuise commented on #151
This is comparable to the changes done in Reporter for 5.1

[2017-02-28 22:01] allisonmuise commented on #150
@jessnoo we've made some changes to zooming behavior for 5.1. Can you take a look at devext or qa tomorrow and let me know if you still see room for improvement here?

[2017-02-28 22:08] allisonmuise commented on #149
![2-28-2017 2-02-45 pm](https://cloud.githubusercontent.com/assets/2752195/23436435/6120d882-fdbf-11e6-8594-8acbfcc23d4c.png)
![2-28-2017 2-02-56 pm](https://cloud.githubusercontent.com/assets/2752195/23436436/62fea6f2-fdbf-11e6-8584-765d0715d526.png)

[2017-02-28 22:12] allisonmuise commented on #149
This should appear in the configuration panel as a radio button with two values 'filter by extent' and 'show all features'.

When 'show all features' is selected (default), the application should behave as it currently does by loading the filter toggle in the 'off' position and loading all features.

When 'filter by extent' is selected, the filter toggle should load in the 'on' position, and the l

[2017-03-24 06:32] CTLocalGovTeam commented on #153
@allisonmuise

After adding the search control on the list view, would you like us to remove the search control from the map in smartphone view? Or it will be available at both the places please confirm.

[2017-03-27 15:21] allisonmuise commented on #153
@CTLocalGovTeam Search should be available in both locations.

[2017-03-29 07:22] CTLocalGovTeam commented on #153
@MikeTschudi  @allisonmuise

We would like to confirm the following approach to implement this enhancement:
- We are planning to create separate instance of the search dijit for the itemList panel.
- For screens greater than 640px of width search bar(in item list panel) will be hidden, and based on the screen size if it is less than 640px search bar will be displayed in item list panel.
- On windo

[2017-03-29 15:50] MikeTschudi commented on #153
@CTLocalGovTeam, very nice implementation, and because the app has separate panels for the map and list, it seems the most economical and clean approach.

While it's @allisonmuise's decision, I'm happy to offer an opinion on the questions. :-)

After selecting the result from the search control of item list panel, it seems to me that it should open the selected item's details page. I have picked a

[2017-04-03 09:39] CTLocalGovTeam commented on #153
@MikeTschudi

User can select result of geocoder or other layers form the search control, so in case of selecting geocoder or other layers result we cannot show the details panel.
so what should we do in this case?

CT: We can hide the dijit during the lag.

@allisonmuise We are awaiting for your inputs on this please let us know your thoughts.

[2017-04-03 15:53] MikeTschudi commented on #153
@CTLocalGovTeam, thank you--I'd missed the geocoder/other layer case. I see how showing the map for these when searching from the list view is required; otherwise, the search appears to do nothing.

Despite the different behavior, however, if one is searching the polled layer from the list view, I would still propose that the details view opens for the selected result.

[2017-04-03 16:09] allisonmuise commented on #153
@CTLocalGovTeam
I would suggest the following:
- when the selected search result is a feature in the Polling layer, the app should display the details for that feature.
- When the selected search result is from another layer with a popup configured (per #223 ), the app should display the details for that feature.
- If neither of these cases are met, the app should display the map, pan/zoom to the

[2017-04-03 16:29] MikeTschudi commented on #153
@allisonmuise, note that maintaining search terms affects the bigger case of toggling between map view and list view when <640px--no resizing. So in the third case, if I've searched for Cooper's Hawk Winery in the map view, then go to the list view and search for 345 11th Ave, Naperville, Illinois, USA, my map view will go to 345..., but the search box will still have Cooper's....

![image](https:

[2017-04-03 16:31] allisonmuise commented on #153
@MikeTschudi Thanks for the further explnation.

@CTLocalGovTeam What's LOE to sync the search terms between the widgets?

[2017-04-04 21:40] allisonmuise opened #174 "BUG-000104105 Crowdsource apps are unable to populate default values for fields when creating new related records in a hosted feature service and instead populate a null value when moderating comments."
Default values defined in the feature template are only honored on editable fields.

For example:

Field PUBLICVIEW in the table has a default value of 'Yes'.
When PUBLICVIEW is editable, new related records get the value 'Yes' in the PUBLICVIEW field. When PUBLICVIEW is not editable, no value is written to the field.

http://localgovtest.maps.arcgis.com/apps/CrowdsourcePolling/index.html?appid=82

[2017-04-05 16:28] allisonmuise commented on #174
Test Data:
Crowdsource Polling App:
http://ess.maps.arcgis.com/home/item.html?id=b63a745fa4034a7a8fef42a9b6b16d64

Web Map:
http://ess.maps.arcgis.com/home/item.html?id=9aaf32cab1af46a9b037c46e1db3bb91

Hosted Feature Service:
http://ess.maps.arcgis.com/home/item.html?id=df51e02e34504c11895f17a7dfe3764c

Schema for service was created using guidelines outlined in:
Crowdsource Polling > Create laye

[2017-04-05 16:28] allisonmuise commented on #174
(#1567)

[2017-04-05 16:38] allisonmuise commented on #153
@CTLocalGovTeam I have updated the descriptions of the use cases in my previous comment. Let's proceed with syncing the search terms as described during this morning's meeting.

[2017-04-05 21:47] MikeTschudi commented on #151
@allisonmuise, this issue and #149 introduced a pair of new configuration items; would you please review the wording of the label and tooltip:
[code]

[2017-04-05 22:04] allisonmuise commented on #151
@MikeTschudi - They are fine for now. Suba and I will do a holistic overview of the config panels closer to release and can tweak wording then.

[2017-04-05 22:48] #171 closed

[2017-04-06 13:29] CTLocalGovTeam commented on #174
@allisonmuise

We have analyzed this issue and found that, we need to set the default values from the template in newly added comment.
As you mentioned this issue exist in both Reporter and Polling app. However in Reporter we have handled this case for submitting issues but not handled for the comments.

@MikeTschudi  we are planning to add this code from reporter

1. https://github.com/Esri/crowd

[2017-04-06 15:17] MikeTschudi commented on #174
@CTLocalGovTeam, possibly simpler approach in branch [populate-noneditable-fields](https://github.com/Esri/crowdsource-polling/tree/populate-noneditable-fields).

The DynamicForm was ignoring the default value when a field was not editable, so I just changed that.

[2017-04-10 06:22] CTLocalGovTeam commented on #174
@MikeTschudi  @allisonmuise

This approach looks good. We will skip implementing this on our end.

[2017-04-10 16:28] MikeTschudi commented on #174
@CTLocalGovTeam, thanks for review
@allisonmuise, I'll merge it into develop

[2017-04-10 19:34] allisonmuise commented on #174
@CTLocalGovTeam I created an issue for 5.3 to address this for Reporter

[2017-04-11 21:54] allisonmuise commented on #148
verified

[2017-04-11 21:54] #148 closed

[2017-04-11 21:55] allisonmuise commented on #150
verified

[2017-04-11 21:55] #150 closed

[2017-04-11 21:56] allisonmuise commented on #172
verified

[2017-04-11 21:56] #172 closed

[2017-04-11 21:57] allisonmuise commented on #149
verified

[2017-04-11 21:57] #149 closed

[2017-04-11 21:58] allisonmuise commented on #151
verified

[2017-04-11 21:58] #151 closed

[2017-04-11 22:53] allisonmuise commented on #174
@MikeTschudi  - I see that this fix is in devtopia, but I'm still seeing the issue on devext.

[2017-04-12 17:41] MikeTschudi commented on #174
@allisonmuise, would you please provide an example?  It is working for me so far on devext.

[2017-04-12 18:00] allisonmuise commented on #174
@MikeTschudi It's working for me now, as well. might have been testing before the build yesterday.

[2017-04-19 13:37] allisonmuise commented on #153
@MikeTschudi Please merge this into the develop branch and devtopia

[2017-04-19 13:44] MikeTschudi commented on #153
@allisonmuise done

[2017-04-21 17:10] #174 closed

[2017-04-21 17:16] allisonmuise commented on #153
verified

[2017-05-16 21:48] skrishn opened #179 "Sign in dialog panel not displaying correctly"
Currently noticed in devext

![image](https://cloud.githubusercontent.com/assets/3836616/26129801/9cb47980-3a46-11e7-8302-a8212360916a.png)

[2017-05-17 12:39] MikeTschudi commented on #179
Reproducible with production 3.18, 3.19, 3.20.

Traced to commit 381be0baee4bb050307ea25c39db9ad1ba4cc722:
[code]

@allisonmuise, can CT look at this?

[2017-05-17 14:31] allisonmuise commented on #179
@CTLocalGovTeam The help panel is displaying well with your changes, but they seem to have also afftected the sign in panel. Could you please take a look to see why this panel is not displayign correctly, and submit a code drop with the fix ASAP.

[2017-05-24 10:14] CTLocalGovTeam commented on #179
@allisonmuise

The Sign-in dialog got messed up because of changes in help dialog. We have made some changes in sign-in dialog to make it look similar to help dialog.

Here is the screenshot :
![image](https://cloud.githubusercontent.com/assets/2959186/26398412/09c9e428-4097-11e7-8445-c732a20097a5.png)

This way both dialog's will have similar look and feel. Also, this will maintain consistency wi

[2017-05-24 15:00] allisonmuise commented on #179
Looks good!

[2017-05-30 21:51] allisonmuise commented on #179
@CTLocalGovTeam : I liked how, in the screenshot above, the rest of the app was greyed out, like it is with the help panel. In the code that was delivered last week, I'm not seeing the app greying out behind the panel, and unlike with the help, I am still able to click on the surrounding app elements.

Without the greyed-out background the panel gets a bit lost on the screen. Could you please add

[2017-05-31 10:19] CTLocalGovTeam commented on #179
@allisonmuise

We have updated the sign in panel to show greyed-out background.

![image](https://cloud.githubusercontent.com/assets/2959186/26627614/b64e949c-4618-11e7-8a7b-3ea40fff82a1.png)

[2017-06-02 16:23] allisonmuise commented on #179
Looks good!

[2017-06-02 16:23] #179 closed

[2017-06-12 16:25] allisonmuise opened #182 "Add support for app proxy"
add the app proxy widget to the configuration panel and then when creating a map they mixin any proxies. The Basic Viewer shows an example of using layerMixins around line 1353.

[2017-06-16 16:36] skrishn opened #183 "Twitter sign in doesn't work"
Configure app with twitter and notice that app fails to sign in

[2017-06-16 22:09] skrishn commented on #183
Verified the fix on dev environment.

[2017-06-16 22:09] #183 closed

[2017-06-21 18:32] allisonmuise opened #184 "DojoConfig: Update apps to set async:true to avoid console warning"
In apps that create a web map the following warning appears in the console unless dojoConfig async is set to true.

[Deprecation] Synchronous XMLHttpRequest on the main thread is deprecated because of its detrimental effects to the end user's experience.

Set to true in config apps to remove this warning (and the associated problems it warns about) from the app.

[2017-06-21 18:33] allisonmuise commented on #184
1649

[2017-08-14 16:40] allisonmuise opened #186 "URL parameter doesn't open details of selected feature"
When I provide a URL parameter value, the app selects the feature on the map, but doesn't open the details for that feature. If the URL param layer is the same as the polling layer, the details should display automatically.

[2017-08-15 21:20] allisonmuise commented on #168
CT has done this in Reporter this release by installing a radio button pair into the configuration panel that allows the configur-er to toggle between and 'opened' and 'closed' comment period. When the 'closed' value is selected, the voting and commenting buttons are disabled, but not hidden. Clicking them pops up a window that displays a configurable message along the lines of 'Commenting is now

[2017-08-15 21:20] allisonmuise commented on #168
@MikeTschudi - note milestone :)

[2017-08-15 21:22] allisonmuise commented on #160
Add the geocoder configuration parameter to the config panel. The selected geocoders should be used by the search widget in the app.

Example: Basic Viewer
![8-15-2017 1-36-07 pm](https://user-images.githubusercontent.com/2752195/29337130-1c3ff1b4-81c5-11e7-999c-082cd17efe7a.png)

[2017-08-15 21:22] allisonmuise commented on #160
@MikeTschudi : note milestone :)

[2017-08-15 21:26] MikeTschudi commented on #168
@allisonmuise, clicking on a disabled button shouldn't have any effect:  that would negate decades of UI convention and thus confuse users. 'Commenting is now closed' needs to be indicated in a different way, such as by a static message. (Why require the user to click to get this info?)  The message could be an overlay over the scrimmed buttons.

[2017-08-15 21:41] allisonmuise commented on #168
@MikeTschudi : Perhaps a better way of stating this would have been: The function of the buttons should be changed. Rather than initiating the comment form or logging the vote, the message 'Commenting is closed' message appears.

[2017-08-15 21:50] MikeTschudi commented on #168
@allisonmuise, wouldn't that drive you mad as a user? The app offers an action and then says, "sorry, you can't do that". Disabled buttons convey that an action is not available; a message explains why.

[2017-08-16 18:49] MikeTschudi commented on #186
Not part of original request; will add feature

[2017-08-16 20:19] MikeTschudi commented on #184
crowdsource-polling already uses async Dojo loading

[2017-08-16 20:19] #184 closed

[2017-08-16 23:01] MikeTschudi commented on #182
The proxy configuration doesn't even appear in the AGOL configuration app unless premium content is found in the helper services. Nothing in crowdsource-polling uses premium content (http://www.esri.com/software/arcgis/arcgisonline/credits); may please I have an example AGOL app configuration illustrating the problem?

[2017-08-18 18:56] skrishn commented on #186
@MikeTschudi @allisonmuise Verified. Thanks

[2017-08-18 18:56] #186 closed

[2017-08-21 23:09] ScottOppmann opened #187 "Revise attachment dialog on side panel"
Implement more subtle feedback when an attachment is uploaded.  Could implement something similar to the Crowdsource Reporter.  Maybe just color change - green when successful, red when failed.

![screen shot 2017-08-18 at 4 16 52 pm](https://user-images.githubusercontent.com/2379330/29541681-b0b99484-86a3-11e7-855e-48d9a6a7e6e9.png)

[2017-08-25 16:41] skrishn opened #188 "If neither voting nor sorting fields are configured, console error and no search box atop list"
Please refer to email for the apps that has the error

[2017-08-25 18:16] MikeTschudi commented on #153
This fix needs to be re-verified following the fix of a bug (#188) introduced by it

[2017-08-25 19:57] MikeTschudi commented on #188
The commit for #153 introduced bugs when no fields of a polling feature layer are configured either for voting or sorting:

1. The variable this._searchControls.itemList is only initialized if these fields are configured, yet it is later referenced whether or not they are configured. This leads to a `TypeError: Cannot read property 'id' of undefined` error in the debugging console.
2. The search b

[2017-08-25 21:05] skrishn commented on #188
@MikeTschudi @allisonmuise. Thanks. Verified

[2017-08-25 21:05] #188 closed

[2017-09-05 16:10] allisonmuise commented on #182
@MikeTschudi - This can been seen if you add a premium service (such as World Traffic) to the map used by the application.
http://arcgis4localgov2.maps.arcgis.com/home/item.html?id=ff11eb5b930b4fabba15c47feb130de4

[2017-09-05 16:42] allisonmuise commented on #153
@MikeTschudi have you verified this? If not, @skrishn could you take a look?

[2017-09-05 18:12] MikeTschudi commented on #187
Crowdsource Reporter uses feedback along the lines of
![image](https://user-images.githubusercontent.com/2125181/30074360-27ddc53e-9226-11e7-9c93-e8be202ed315.png)
![image](https://user-images.githubusercontent.com/2125181/30074369-2dbbe03a-9226-11e7-86ae-ade876cba979.png)
![image](https://user-images.githubusercontent.com/2125181/30074376-31fe69b0-9226-11e7-94da-1c4aee9caecc.png)

Crowdsource Pol

[2017-09-05 18:17] ScottOppmann commented on #187
@MikeTschudi - I did not think about the challenges with the color but do think we should be consistent.  Ie.  Green if successful, red if not.  It also looks like the font used in Polling is different than Reporter and would suggest we be consistent.  So, I would suggest we amend Polling's info message so it matches the color and style of Reporter.  Make sense?

[2017-09-05 18:28] MikeTschudi commented on #187
Sounds clear; thanks!

[2017-09-06 17:27] allisonmuise commented on #182
@CTLocalGovTeam Could you please implement this change in Polling for the 5.3 release. I would need it delivered by next Wednesday - Sept 13th.

[2017-09-06 17:48] allisonmuise opened #189 "Add support for clustering"
Clustering can be set on a layer in the web map by clicking the three dots after the layer name and choosing 'Clustering'

![9-6-2017 10-45-36 am](https://user-images.githubusercontent.com/2752195/30126359-9537a8a0-92f0-11e7-889b-8d996d55e55e.png)

The features should render the same in the map view as they do in the application. The list view should still list each individual feature and should d

[2017-09-15 22:26] allisonmuise commented on #153
![image](https://user-images.githubusercontent.com/2752195/30505556-3fa0f996-9a2a-11e7-8318-9e58ae109837.png)
grey space showing alongside search bar

[2017-09-15 22:34] allisonmuise commented on #153
grey box only shows when only 1 search source is configured

[2017-09-15 22:48] allisonmuise commented on #189
verified

[2017-09-15 22:48] #189 closed

[2017-09-16 15:45] MikeTschudi commented on #153
Traced to original commit of feature (1ac6acb953d017d6d424ece70357eec90572cf87). The behavior is an attribute of the JSAPI Search dijit, which was not designed to fill the width of a container, so apps and widgets have to manage it themselves.

[2017-09-18 02:16] allisonmuise commented on #182
@CTLocalGovTeam  This fix isn't working for me. I'm not getting the app proxy prompt in devext, even when the map contains the world traffic service.

[2017-09-18 02:33] allisonmuise commented on #182
@CTLocalGovTeam user error on my part. Got it working and it looks good!

[2017-09-18 02:33] #182 closed

[2017-09-18 02:36] allisonmuise commented on #153
@MikeTschudi  woo!! thanks!! looks god in testing. @skrishn please run auto tests on polling first thing monday AM

[2017-09-18 22:48] allisonmuise opened #191 "selection polygon doesn't match feature boundaries"
https://geonet.esri.com/thread/201598-crowdsource-polling-mismatched-boundaries-upon-zoom

When the Crowdsource polling app zooms to my project the automatic blue selection (i.e. project boundary) on the interactive map doesn't match the actual boundary of the project (see attachment). Once the user clicks on the actual project or within the project boundary (as they are polygons) the blue selecti

[2017-09-18 23:01] allisonmuise commented on #191
Dev strategy discussed with @MikeTschudi : Stop using maxAllowableOffset for query, and perform a second query when a feature is selected. Slightly higher overhead on the individual feature queries, but no increase to overall app loading overhead. Also avoids hard-coding a tolerance value into the app.

[2017-09-21 05:40] #153 closed

[2017-10-25 22:47] MikeTschudi commented on #191
In addition to the second query, the app now does an extra zoom just before the query.

It zooms to the selected item's extent, but then backs out one zoom level; this extra zoom sets the feature layer's simplification parameter so that the second query gets the desired precision.

The zoom to extent does not set the parameter, so using it alone causes the second query to continue to return overly

[2017-10-26 15:07] allisonmuise commented on #191
@MikeTschudi Is this ready for testing in devext?

[2017-10-26 15:12] MikeTschudi commented on #191
@allisonmuise, not yet--devext hasn't been built since the check-in

[2017-10-26 17:05] MikeTschudi commented on #168
@allisonmuise, CP has two types of message box; preference for this use?

![image](https://user-images.githubusercontent.com/2125181/32066546-fef49da0-ba34-11e7-8273-757347099714.png)

![image](https://user-images.githubusercontent.com/2125181/32066564-0dc80e3e-ba35-11e7-9324-3f1be6097b32.png)

[2017-10-26 17:17] allisonmuise commented on #168
@MikeTschudi The second - it will allow the configur-er more flexibility with the information they want to provide their users.

[2017-10-26 22:51] MikeTschudi commented on #160
By its original requirements, the app uses the search settings in its webmap.

* If Find Locations is not checked, there's no search box.
* If it is checked,
  * If neither By Layer nor By Address is checked, there's no search box.
  * If only By Layer is checked and one or more of the app's webmap layers are configured, they are available in the search box
  * If only By Address is checked, geoco

[2017-10-27 15:14] allisonmuise commented on #160
@MikeTschudi  I understand, we will defer this until a major update.

[2017-11-01 19:33] allisonmuise commented on #191
verified

[2017-11-01 19:33] #191 closed

[2017-11-01 19:37] allisonmuise commented on #168
verified

[2017-11-01 19:37] #168 closed

[2017-11-01 19:52] allisonmuise commented on #187
@MikeTschudi  Is this ready for me to test? At a quick glance, it appears to be working...

[2017-11-06 21:46] allisonmuise commented on #187
verified on devext

[2017-11-06 21:46] #187 closed

[2017-11-16 10:29] dlengton commented on #131
"[{\"id\":0,\"addResults\":[{\"objectId\":null,\"globalId\":null,\"success\":false,\"error\":{\"code\":10500,\"description\":\"Cannot convert a value of type 'java.lang.String' to 'TIMESTAMP'.\"}}]}]"

Get the same error when using Survey123 browser connected to an Enterprise Portal
The same Survey works when collecting through the Survey123 field application

[2017-11-16 20:19] allisonmuise commented on #131
@dlengton I suggest reaching out to Esri Support Services or your local distributor for help with this issue. They will have better capacity to help troubleshoot.

[2017-11-20 20:23] allisonmuise opened #193 "filter to map extents not working - FF only"

[2017-11-20 22:16] allisonmuise commented on #193
update: This is only reproducible on laptops that have a touch screen, when using the mouse or the touch pad. It is not reproducible when toggling the control by touching the screen.

[2017-11-22 01:02] cosbyr commented on #193
Looked into this a little further. When looking at the click event breakpoint in Chrome, regardless of what I click on in this application or the DOJO toolkit test page, it registers **2** click events when i click anywhere on a page with the mouse. I'm leaning towards this being a browser problem.

[2017-11-22 16:02] allisonmuise commented on #193
@cosbyr Thanks for looking into this! closing as a know issue.
@kellyhutchins - Here is what Ryan found. Not sure if this would be relevant to the config panel issues I reported.

[2017-11-22 16:02] #193 closed

[2018-01-16 16:31] chris-fox opened #195 "Honor the pop-up option "Show feature attachments as links""
Attachments are always shown for the feature if they are available. It would be a useful to honor the option "Show feature attachments as links", to determine if the attachments should be displayed, similar to how the NearMe widget honors this setting.

![image](https://user-images.githubusercontent.com/6796763/34999675-5989167c-fab0-11e7-8c00-ac7dc62d155e.png)

[2018-02-07 20:21] allisonmuise opened #196 "remove submission message from config panel"

[2018-02-07 20:22] allisonmuise commented on #196
# 1985

[2018-02-14 19:54] MikeTschudi opened #197 "Thank-you message not shown with comments that don't have an attachment"

[2018-02-15 19:29] allisonmuise commented on #197
verified

[2018-02-15 19:29] #197 closed

[2018-02-27 20:16] #196 closed

[2018-03-28 22:03] allisonmuise opened #198 "RtL language Css issue"
![3-28-2018 2-59-29 pm](https://user-images.githubusercontent.com/2752195/38058851-2bf5b708-3299-11e8-80f7-365e031e5cca.png)

[2018-07-05 09:22] MarkCooperSDC opened #201 "Attachements do not upload in IE or Edge but works in Chrome and Firefox"
When trying to attach a file to a comment in Internet Explorer or Edge, the upload fails every time. This works fine in other browsers. We have raised this a a call with ESRI UK and they have been able to replicate it both when the feature class is hosted and when coming from an enterprise gdb. It has been raised as BUG-000115151

Is there a way round this that you know, or at least a way the defa

[2018-07-05 16:08] allisonmuise commented on #201
I'm unable to reproduce the issue. The filed bug will eventually make it's way to me, but if you'd like me to take a look sooner I'll need:
- Operating system
- browser versions where it fails (also - do the same apps work on other browsers?)
- are you able to reproduce this with multiple datasets/maps/apps?
- link to an app that has the issue

[2018-07-06 09:15] MarkCooperSDC commented on #201
Hi

We have tested uploading in Windows 7, Windows 10, Android and IOS using Chrome, IE, Edge, Safari, Samsung and Firefox browsers. The only combination it doesn’t work on is a Windows OS and either IE (11) or Edge

We have tried using a different data set and we have the same results. We have tested both with data stored in our SDE and hosted on AGOL.

I think I have found you in AGOL so will in

[2018-07-20 18:05] MikeTschudi opened #202 "Remove Facebook login option"
Due to changes in the Facebook API, it is no longer supportable.

[2018-07-23 16:21] allisonmuise commented on #202
looks good, @MikeTschudi . Have you sent the updated config panel to Ian?

[2018-07-23 16:43] MikeTschudi commented on #202
@allisonmuise No; will do so now that approach is approved

[2018-08-07 13:33] MarkCooperSDC commented on #201
Hi Allison

Following a complaint from a member of the the public, it appears that IE and Edge users can not view attachments other people have uploaded either, which is actually a far more serious issue. Do you have any idea what may be causing this? Everything works fine in Chrome etc.

Many thanks

@allisonmuise

[2018-08-14 16:17] allisonmuise commented on #201
@MarkCooperSDC The example sent to me from support has the relationship set up between the OBJECTID field of the feature layer and the OBJECTID field of the table. If your data is set up the same way, this is the problem (although it shouldn't work in any browser). This is not a valid relationship. The foreign key (table) field must be a field that supports duplicate values. OBJECTID, FID, GlobalI

[2018-08-21 16:48] allisonmuise commented on #202
verified

[2018-08-21 16:48] #202 closed

[2018-09-25 15:00] MarkCooperSDC commented on #201
@allisonmuise Sorry for not getting back - the consultation was live so we didn't want to mess with it! The good thing is, we had thousands of comments come in and everything else worked really well (apart from our servers getting hit a bit hard on the last day!)

It is now closed and it appears that attachments can also not be opened in IE or Edge. Again they work fine in all other browsers we te

[2018-09-25 16:11] allisonmuise commented on #201
@MarkCooperSDC Thanks so much for sharing! I have sent this on to the developer of this app and we are looking into this.

[2018-10-10 16:09] allisonmuise opened #203 "remove support for G+"
https://www.cbc.ca/news/technology/alphabet-google-1.4855092

[2018-10-30 21:34] #107 closed

[2018-10-30 21:35] #160 closed

[2018-10-30 21:36] allisonmuise commented on #144
follow patter laid down by reporter

[2018-11-13 22:18] allisonmuise opened #205 "Improve handling of updated data"
Hi Allison,

CP updates in this order:
1.	CP queries all features for the main list of items
2.	When a user selects an item, CP displays item details using the results from the all-features query used to create the main list display, not the current value of the item
3.	CP highlights graphics of selected item by querying it again after zooming to get higher-res graphics, but results are only used

[2018-11-13 22:20] allisonmuise commented on #205
Note: Sajit's testing showed that the app appeared to be pulling in cached values on load. A browser refresh did not reliably pull in updated content.

[2018-11-13 23:02] MikeTschudi commented on #205
I was getting the same result with my browser debugger open and browser caching turned off.

Started branch `support-faster-changing-data` with a commit containing a cache-breaker for the main list query.

[2018-11-28 10:44] ashishchoure commented on #156
@allisonmuise

We are not able to reproduce this issue. The changes made to webmap settings such as "Search by Address" and "Search by layer" are honored in the application.
Here is the screenshot :
1. Search by Address
![image](https://user-images.githubusercontent.com/5525972/49145941-03555c00-f327-11e8-90cf-1226ae81a02b.png)

2. Search by Layer
![image](https://user-images.githubusercontent.com

[2018-11-28 16:55] allisonmuise commented on #144
@ashishchoure Yes, your understanding is correct. Ideally, this would follow the same pattern as the non-editable layers in Reporter.

[2018-12-05 09:41] ashishchoure commented on #156
@allisonmuise

Could you please confirm if you are still able to reproduce the issue?. This will help us in estimating the ticket.

[2018-12-06 00:57] allisonmuise commented on #156
@ashishchoure I am still able to repro this issue. I suspect that it is related to the True/False/Null issues we have seen with other map settings. In this case, layer search has never been configured, and I am seeing the layers in the drop down for the app search widget.
http://arcgis4localgov2.maps.arcgis.com/apps/CrowdsourcePolling/index.html?appid=b9e4d6a7256f419c9baafde21e20fcd4
![12-5-2018 4

[2018-12-06 12:00] ashishchoure commented on #156
@allisonmuise

Your observation is correct. You will see all the layers in search dijit in crowd source polling until you configure the **"Search by Layer"** property for the first time. Once it is configured, the search dijit will honor **"Search by Layer"** configuration for no layer/one layer/all layers.

However, the existing code in polling says that if the **"Search by Layer"** properties ar

[2018-12-12 06:45] ashishchoure commented on #195
@allisonmuise

Would you like to honor this flag for the comment layer(related layer)?

[2018-12-17 23:12] allisonmuise commented on #195
@ashishchoure yes, please

[2019-01-08 23:58] allisonmuise commented on #203
@skrishn could you verify that apps that the test apps that previously had G+ configured no longer show this option?

[2019-01-09 00:03] allisonmuise commented on #205
@MikeTschudi Could you take a look at this for 7.1? Please install into the develop branch and devtopia when ready. Code freeze is Feb 14.

[2019-01-09 00:08] allisonmuise commented on #198
verified

[2019-01-09 00:08] #198 closed

[2019-01-09 00:14] allisonmuise commented on #195
@chris-fox This should be available now on devext. Could you take a look and close/mark this issue verified if it meets your expectations?

[2019-01-09 23:22] allisonmuise commented on #144
verified

[2019-01-09 23:22] #144 closed

[2019-01-11 18:19] allisonmuise commented on #156
verified

[2019-01-11 18:19] #156 closed

[2019-01-11 19:57] chris-fox commented on #195
@allisonmuise, looks great. thanks!

[2019-01-11 19:57] #195 closed

[2019-01-11 21:10] skrishn commented on #203
@allisonmuise verified.

[2019-01-11 21:13] #203 closed

[2019-01-22 22:09] allisonmuise commented on #205
@CTLocalGovTeam Would you be able to take a look at this issue for 7.1?
I've merged in Mike's branch with the cache-breaker. The remaining work is to ensure that updated data is retrieved when browsing the app.

Per Mike: 1) Update the home page graphics with whatever is retrieved from the high-detail query.  2) Maybe hook into a feature layer's update or refresh-tick events to update layer conten

[2019-01-23 12:11] ashishchoure commented on #205
@allisonmuise

Here is our understanding from the above comments :
1. We need to make sure that, always updated feature is fetched from the layer whenever a feature is selected.
2. If layer has refresh interval, the layer contents and features should be updated as and when the layer updates. (This includes adding/deleting new features in the feature list after layer refresh)

Please let us know if

[2019-01-23 19:11] allisonmuise commented on #205
@ashishchoure This sounds right to me!

[2019-01-25 09:56] ashishchoure commented on #205
@allisonmuise @MikeTschudi

We have analyzed this ticket and here is our approach to implement the same.
1. Feature Selection :
- The current CSP app queries the selected feature (with the help of Object ID) only for fetching the selected feature geometry to highlight it on map.
- Instead, we are planning to query the feature as and when feature is selected through the map or list and the updated

[2019-01-29 16:36] allisonmuise commented on #205
@MikeTschudi Does this approach follow the work you understood to be necessary?

[2019-01-30 16:59] MikeTschudi commented on #205
@ashishchoure, why, please, do you suggest delaying handling the **refresh-tick** event when the user is on the item details screen?  If a user is viewing the details and new comments come in from the **refresh-tick** event, they are relevant.  Only if the user is actively entering his/her own comment does it seem like new comments should be delayed.

Feature selection approach sounds good.  (I wi

[2019-01-31 09:48] ashishchoure commented on #205
@MikeTschudi @allisonmuise

- The reason behind delaying **refresh-tick** was the comment form. If user is feeling the information and suddenly the contents refreshed then user will lose the information.
- However, we do agree to the point that the updated feature details and new/updated comments are relevant.
- To overcome this, we will restrict the update only if comment form is open.
- Regardin

[2019-02-20 17:39] allisonmuise commented on #205
@aparveen @LindsayThomas Want to test this with the elections data?

[2019-02-21 19:38] skrishn opened #210 "Change comment period text in config panel and documentation"
![image](https://user-images.githubusercontent.com/3836616/53195223-15fbcc00-35ca-11e9-8c06-cbf5e002d157.png)

1. Change the text  occurrences 'comment' to 'feedback' in the config panel
2. Update the documentation
- Go to https://solutions.arcgis.com/local-government/help/crowdsource-polling/get-started/configure-app/ > other options > #7 - Update the text 'reporting period' to 'feedback period'

[2019-03-01 17:22] aparveen commented on #205
@allisonmuise I will test it.

[2019-03-06 18:23] aparveen commented on #210
Verified in devext.

[2019-03-06 18:23] #210 closed

[2019-03-07 18:39] LindsayThomas commented on #205
@allisonmuise Can you please confirm this repro scenario? (I am aware of the issue but I don't know the technical details)

Create an application using hosted feature layer for crowdsource polling
In the web map - set the refresh interval to 0.1 on each layer
configure the application with these layers, and a field that you will update
Bring up the application

In another browser, bring up the web

[2019-03-07 20:01] allisonmuise commented on #205
@LindsayThomas I'm not sure.

@MikeTschudi or @ashishchoure can you confirm that this is a valid repro scenario.

[2019-03-13 05:01] ashishchoure commented on #205
@allisonmuise @LindsayThomas

The above scenario sounds correct.

Here are the list of scenarios which we have considered while testing :
- The newly added feature should be added in the list.
- The deleted feature should be deleted from the list.
- The updated feature should be reflected in the list.

[2019-03-13 16:50] aparveen commented on #205
Verified in devext.

[2019-03-13 16:50] #205 closed

[2019-03-13 16:52] allisonmuise commented on #201
@MarkCooperSDC Are you able to share the URL to this service so we can confirm this fix? If not, we will close this issue.

[2019-03-20 19:31] aparveen commented on #201
This issue was not verified by the customer and we will reopen it when more information is provided.

[2019-03-20 19:31] #201 closed

[2019-03-29 20:46] skrishn commented on #168
@aparveen added testcase

[2019-04-02 22:57] aparveen opened #211 "BUG-000115151 The Add attachment option does not appear in the Crowdsource Polling application when opened in Internet Explorer."
1. Create a feature class and table with appropriate fields for the Crowdsource Polling app in ArcMap or ArcGIS Pro
2. Create a relationship class between them.
3. Publish to your hosted content in ArcGIS Online and make sure to enable attachments for the feature service. Save as a web map.
4. Create a Crowdsource Polling app using the web map. Copy the URL of the application and open it in the In

[2019-08-22 13:18] LindsayThomas opened #213 "Add support for filtering"
Add a boolean variable for the "map view" and "push pin" icon when small form factor is being used.

![2019-08-22_9-16-18](https://user-images.githubusercontent.com/2379312/63517905-e288f400-c4bd-11e9-910c-eac2ba598197.png)

True (default setting) - user would see both the map view and the push pin by default
False - user would not see the map view or push pin when the small form factor is present

[2019-09-09 18:20] allisonmuise commented on #213
@LindsayThomas What is the issue that is being encountered on phones?

[2019-09-09 18:25] allisonmuise commented on #211
@aparveen were you able to repro this issue? It's working fine for me in both edge and IE11

[2019-09-09 18:29] jlindemann commented on #213
@allisonmuise for Special Events, we are actually using Crowdsource Polling in Ops Dashboard with another webmap.  This allows for filtering via a URL that will filter both the Polling app to the appropriate event and the webmap to show the correct event without seeing the other events.  If you click this view map button you see two maps side by side and gets confusing.  The issue isn't really for

[2019-09-09 18:39] allisonmuise commented on #213
@jlindemann What functionality is ops dashboard adding to Polling here? I'm trying to understand if there's a larger change we could make to Polling to fully support your workflow rather than making a little change to support embedding in a dashboard, which is outside the intended purpose of Polling.

[2019-09-09 19:00] jlindemann commented on #213
@allisonmuise - thanks, yes makes sense.  The enhancement would be to have a URL Parameter filter multiple layers inside the webmap for Crowdsource Polling.  Right now the URL parameter filters the comments section to the appropriate layer, which is good but we need a bit more.

Take this URL for example:
https://arcgis4localgov2.maps.arcgis.com/apps/CrowdsourcePolling/index.html?appid=fb1000361d9

[2019-09-09 20:03] allisonmuise opened #214 "css issue - chrome"
![image](https://user-images.githubusercontent.com/2752195/64562566-22473c80-d302-11e9-85eb-7e1a9707c9fb.png)

[2019-09-09 20:23] allisonmuise commented on #213
Notes from conversation with @jlindemann :

2 filtering mechanisms are needed.

1. Use case: filter multiple layers in a map to show only those features related to a specific incident. Incident ID field may have different names in each layer.

   - need ability to filter multiple layers in the map that contain the same value in a field. The field name may be different across layers.

   - Filter s

[2019-09-11 14:58] #211 closed

[2019-09-18 15:38] allisonmuise opened #215 "Legend Widget"
Suggested by Richard Littlefield, HDR

[2019-09-26 16:18] allisonmuise opened #216 "Apps with Public editable layers should be editable by everyone"
A user who accesses a public layer through an app using an account should never have fewer permissions than a user who accesses the app anonymously.

Basic Viewer handles the permissions correctly.
To test:

Create a map with an editable layer.
Share the map and layer with the organization.
Use the map to configure a Basic Viewer app with the Editor tool enabled. Share the app with the organizatio

[2019-10-15 19:50] allisonmuise commented on #213
Additional info for #1 :
Include additional configuration parameter (disabled by default) that will filter the list of features to only those that meet the criteria of the URL filter.

[2019-10-15 20:00] allisonmuise opened #217 "Filter polling layer & related feature layers in map based on the selected polling feature"
When viewing the details of a polling layer feature, the map should contain only the selected feature and any features related to that feature through a relationship class.

Features in layers that are not connected to the polling feature layer should not be filtered. The list of polling features should not be filtered.

EG: In an app where the polling layer contains transit routes and the routes

[2019-10-15 20:00] allisonmuise commented on #217
cc @RebeccaLeh

[2019-10-16 16:18] RebeccaLeh commented on #217
Here is a sample transit dataset https://arcgis4localgov2.maps.arcgis.com/home/item.html?id=ff2c2f3d539b41e8929309d13a133672

[2019-10-17 16:17] allisonmuise opened #218 "Filtering, part 2"
Need ability to filter specific layers using specific queries, such as road blocks that fall within a specific date range.

- each filter is applied to only one layer.

- filter(s) must be editable in the UI.

- filters do not need to be reflected in the URL.

Perhaps configure using the 'Ask for values' filters defined in the map, with a configuration toggle (off by default) that users can enable

[2019-10-17 16:18] allisonmuise commented on #218
Formerly part of #213
cc @jlindemann

[2019-10-18 06:10] sumitzarkar commented on #213
@allisonmuise

As discussed on call we will implement only # 1 in this ticket and here are the details for it:

 - Only one field value needs to be supported
 - User can pass multiple fields on which the filter need to be applied. it will be an comma separated list
 - User will not pass any layer id in the url as it would be difficult to maintain. In the application we will check if the given fiel

[2019-10-22 16:52] allisonmuise commented on #213
@sumitzarkar I think we can remove the field list from the URL. Thsi list can be defined in the configuration of the application. Only the value needs to be in the URL.

[2019-10-22 17:41] sumitzarkar commented on #213
@allisonmuise

OK, we can add "Multiple Layer and Field Selector" in the configuration so that user can configure multiple fields from multiple layers.

[2019-10-30 06:02] ashishchoure commented on #214
@allisonmuise

We are not able to reproduce the issue.
We tested on latest chrome browser version : **78.0.3904.70**

Could you please let us know the chrome version on which issue is reproducible.

[2019-10-30 15:55] allisonmuise commented on #214
I'm not seeing it anymore, either

[2019-11-12 07:31] ashishchoure commented on #214
@allisonmuise

- We were able to reproduce the issue after changing the zoom scale of the browser.
- We have fixed this issue at our end and it will be delivered in upcoming code drop.

[2019-11-12 17:34] marshaev27 opened #219 "Zoom to point features (set zoom scale parameter for points)"
Currently the app just pans to any point features. It will zoom to any polygon features based on the extent of the polygon, but it would be useful to be able to specify a zoom scale in the app config on ArcGIS Online if boundaries for the project are not yet defined and points are being used.

[2019-11-14 15:49] allisonmuise commented on #214
@ashishchoure Thanks!

[2019-11-14 15:49] #214 closed

[2019-11-14 17:02] allisonmuise commented on #213
@jlindemann This enh has been installed into devext. Could you take a look and confirm that it's working as expected?

[2019-11-14 17:08] allisonmuise commented on #217
@RebeccaLeh this has been installed into devext

[2019-11-14 19:51] jlindemann commented on #213
@allisonmuise I'm confused and can't seem to get this to work.

I have this map shared public
https://solutions.mapsdevext.arcgis.com/home/item.html?id=249d2a82932f41f9b58f93c402fff7f4
In config for the app I made a URL Parameter called "eventid".  Even setting this to the ObjectID for the layer (special events) doesn't work.  I add this to the end of the URL and get an "Item does not exist or is

[2019-11-14 20:41] allisonmuise commented on #217
@ashishchoure This works great! I notice that there is a double zoom happening, though, when a feature is selected from the list. The app first zooms in a bit, and then zooms out to show the whole feature. Is there a way to do this with one zoom so that it's smoother?
https://solutions.mapsdevext.arcgis.com/apps/CrowdsourcePolling/index.html?appid=01a0c4ac5632456481e5b14d9ae1d5c6

[2019-11-14 21:01] allisonmuise commented on #213
@sumitzarkar Could you take a look at the config panel changes for this capability? I think there is something funny going on with how the parameters are defined in the JSON. In the UI there is a text box at the top of the tab, but it doesn't have a label and doesn't appear to be connected to a value i the JSON. Is this where we should define the name of the URL parameter?

When referencing a valu

[2019-11-15 06:46] sumitzarkar commented on #213
@allisonmuise

- This textbox is added by mistake and we will update the json to remove it.

- As discussed earlier we are only supporting one URL parameter i.e. **value**

- User can select the layers and fields on which the filter needs to be applied:
![image](https://user-images.githubusercontent.com/9443956/68921959-5aef1080-07a0-11ea-882f-2afd9ef57369.png)

- Sample Url:

https://xyz.maps.arc

[2019-11-15 11:55] ashishchoure commented on #217
@allisonmuise @MikeTschudi

- The behavior of double zoom is happening because of the changes made to resolve the github issue #191
- As per the comments added in https://github.com/Esri/crowdsource-polling/issues/191#issuecomment-339497424, looks like this behavior is implemented to resolve the issue related to highlighting the feature boundaries.

Please let us know if any action is required fro

[2019-11-15 13:27] ashishchoure commented on #213
@allisonmuise

We have removed the text box and sent a new [pull request](https://github.com/Esri/crowdsource-polling/pull/221). Please have a look at it and let me know if you find any issues.

[2019-11-15 17:49] allisonmuise commented on #213
@ashishchoure Thanks - This is working well now. What would be the LOE to have the details open immediately when there is only one item in the list of features? If the list is filtered to one item it seems silly to have users do the extra click to open it.

[2019-11-15 17:53] allisonmuise commented on #213
also - instead of the static parameter name 'value', could we use the existing user-supplied name (customUrlParam) on the Custom URL Parameter tab? Users will not use both types of URL params, and I will be moving all the URL param options to a single tab so this will be more intuitive for users.

[2019-11-18 12:14] ashishchoure commented on #213
@allisonmuise

- This will require some research to make sure we have covered all the cases. Here are some of the cases we will have to consider :
  -  "**Filter list by map**" is enabled and only one feature is within the extent
  -  When only one feature is passing the criteria via values provides from URL param
  -  When only one feature is passing the criteria via values provides from URL para

[2019-11-18 12:17] ashishchoure commented on #213
@allisonmuise

- We can easily implement this change.
- So, instead of checking for static `value` url parameter, we will check if `customUrlParam` is configured.
- If yes then we will apply the value supplied in URL to all the configured layers and fields which are listed in **Select layers and fields for filtering** tab.

[2019-11-18 16:03] allisonmuise commented on #213
@ashishchoure
re: customUrlParam - Let's proceed with this change for this release. Please note that there is an updated config panel in the develop branch.

re: one item in the list: Yes, I would like this for this release if at all possible. Would it be more reasonable to only handle this case _When only one feature is passing the criteria via values provides from URL param_ for this release?

T

[2019-11-19 12:13] ashishchoure commented on #213
@allisonmuise

We will implement the change to show the feature details panel when only one feature is passing the criteria via values provides from URL param.

[2019-11-27 20:26] allisonmuise commented on #213
@jlindemann can you take another look at this on devext?

[2019-11-27 20:28] allisonmuise commented on #217
@RebeccaLeh Can you take a final look at this and let me know if there's anything else that needs to be done for this release?

[2019-11-27 20:40] allisonmuise commented on #216
verified

[2019-11-27 20:40] #216 closed

[2019-11-27 21:18] jlindemann commented on #213
@allisonmuise hmmmm, I can't seem to get this to work now.  Even with going back to the "value" keyword (and explicitly stating I want that variable name in the config panel, it doesn't seem to filter out

https://solutions.mapsdevext.arcgis.com/apps/CrowdsourcePolling/index.html?appid=b3688a67e23e4127ae0eac4ac7ec9b25&value=6

[2019-12-03 18:13] allisonmuise commented on #213
@jlindemann The build has been fixed. it looks like it's working now to me. Can you check with your data?

[2019-12-03 19:23] jlindemann commented on #213
@allisonmuise yes this looks good!  thanks!  Didn't close yet, wasn't sure if you had anything else you wanted.  Can the config text be run onto more new lines?  It is not really intuitive to expand the app to just read the text
![image](https://user-images.githubusercontent.com/2989767/70082441-a9394780-15c7-11ea-8f05-32d915f24e0d.png)

[2019-12-03 19:52] allisonmuise commented on #213
@jlindemann Unfortunately that's not something I can control. I'm guessing there is a long layer name or something further down in the panel that is forcing the text container to be out wider than the default panel width.

[2019-12-03 19:53] #213 closed

[2019-12-04 18:52] allisonmuise opened #224 "Selection in list remains, even when no selection on map"
With the changes for #217 The following workflow causes some confusion in the UI:

1) Configure an app to show only the selected feature, but do not enable the option to highlight that feature
2) In the configured app, click a feature from the list. The map zooms to that feature and hides all other in the layer (as expected)
3) Click the back button to return to the list. Note that the previously

[2019-12-09 13:27] ashutoshverma-ct commented on #218
@allisonmuise

Based on the above comments, we are assuming the following points for this functionality:
1. Filters can be applied to multiple layers of the webmap
2. In the configuration:
   - Add one parameter to allow the user to show/hide filter button (Backward compatibility)
3. In the widget:
   - The user can define multiple filters on one or multiple layers
   - Each filter can be turned O

[2019-12-09 18:25] allisonmuise commented on #218
@ashutoshverma-ct
I'm going to distinguish between 2 users:
 - App Configurer is the person who sets up the map and application
 - App User is the end user of the configured application

1) App configurer defines all filters.
2) App User can only turn those filters on/off and provide the necessary values when the filter was configured with 'Ask For Values' enabled.

Due to limitations with the app

[2019-12-11 05:11] allisonmuise opened #225 "remove social media info from details page"
Template details page still references facebook and google

[2019-12-11 11:00] ashutoshverma-ct commented on #218
@allisonmuise

Based on the above points, in the widget, we will now have only one screen for all the defined filters and a button to view the filter screen. Following are the salient points:
1. Each filter label will be layer name
2. The user can expand/collapse only those filters in which "Ask for value" is enabled
3. By default, all the filters will be applied and in the collapse state

![image

[2019-12-11 16:01] allisonmuise commented on #218
@ashutoshverma-ct
#3 brings up a good point. Let's add a second configuration parameter for users to toggle the initial state of the filters - by default they should be applied, but this will give users an option to disable them initially

[2019-12-12 17:30] allisonmuise commented on #217
verified

[2019-12-12 17:30] #217 closed

[2019-12-20 19:15] LindsayThomas opened #226 "Related Table appears in side panel when you click on feature then click on map, when features are not related to the table"
The first time you click on a feature you get the popup on the side panel, if you then click on the map then you see the comments table. The comments table is not related to the feature and should not be visible in the panel
Repo Steps
•	Click on a feature that does not have a comments table in the application (You’ll see the pop-up in the panel)
•	Click somewhere on the map (You’ll see comments t

[2019-12-20 19:16] LindsayThomas opened #227 "Ability to configure the application icon (without needing an external URL to host the image)"
Ability to configure the application icon (without needing an external URL to host the image)

[2019-12-20 19:16] LindsayThomas opened #228 "Add the ability to enable\disable a basemap switcher"
Add the ability to enable\disable a basemap switcher

[2019-12-20 19:17] LindsayThomas opened #229 "Update the comment icon, image icon and like icon to be more modern"
Update the comment icon, image icon and like icon to be more modern

[2019-12-20 19:17] LindsayThomas opened #230 "Additional Configuration parameters to support better styling of the application"
Additional Configuration parameters to support better styling of the application

@chris-fox Can you add more details on the parameter styling we'd like to see?

[2019-12-20 20:18] chris-fox commented on #230
This request is to have the ability to control the background color and font color of the bar above the selected item in the details panel. Currently it just uses the Header Background Color as the text color and uses the Header Text Color as the background color (see image 1). We would like to have more control either by customizing both of these or not reversing the properties and using the Head

[2020-01-08 23:30] allisonmuise commented on #226
@LindsayThomas do you have a repro app?

[2020-01-08 23:31] allisonmuise commented on #227
This is a limitation of the configurable apps environment. The work around for this is to host the image as a public item in AGOL and use the image URL in the application configuration.

[2020-01-08 23:31] #227 closed

[2020-01-08 23:34] allisonmuise commented on #229
@LindsayThomas Do you have suggestions/examples of more modern graphics?

[2020-01-08 23:37] allisonmuise commented on #230
@LindsayThomas @chris-fox we are using the org-level settings for theme colors. It is more within our control to change how these colors are being applied. Are you seeing specific issues? Are there specific combinations that aren't workign for some reason?

[2020-01-09 15:25] chris-fox commented on #230
@allisonmuise, the feedback from the team was when you use a dark color as your background header and white has the header text color, the back button and associated bar with the title of the selected feature doesn't look good (see my first screenshot above). The preference was to not invert the color of the bar and button and produce something like my second screenshot.

[2020-01-13 17:44] allisonmuise commented on #218
It appears that configuring 'ask for values' filters on date fields is no longer possible. There was a bug in AGOL that allowed it for a time, but they have since fixed it.

We do need a way to configure date filters in this app:

Could you please look into using the time enabled settings on the layer? This will require two additional configuration parameters:
1) users can choose to expose the dat

[2020-01-13 18:02] allisonmuise commented on #218
@CTLocalGovTeam One other note re: the word Filter at the top of the app. We would like to make this the standard filter icon. let's re-arrange the header bar in the following order to make this look better. From left to right the icons (when relevant) should be filter, help, sign in. The burger menu options are fine as discussed.

[2020-01-14 09:59] ashishchoure commented on #218
@allisonmuise

We would like to discuss the date filter requirements in detail to make sure we are on same page. Could you please set up a call at your convenient time?

[2020-01-14 16:13] allisonmuise commented on #218
@ashishchoure Would after status tomorrow work for you?

[2020-01-14 16:46] ashishchoure commented on #218
@allisonmuise

We can discuss the requirements after status.

[2020-01-17 09:48] ashutoshverma-ct commented on #218
@allisonmuise

Considering all the inputs during the discussions, here are the updated points along with the mockup:

1. Configuration:
    - A new checkbox "Show date filters" will be added to allow a user to edit date-time fields of the widget filter

2. Widget:
   - Date filter on the webmap is not allowing "Ask for values" so this filter will not be exposed in the application filter
   - For t

[2020-01-17 17:39] allisonmuise commented on #218
@jlindemann - please review and let CT know if this looks good to you

[2020-01-17 17:48] jlindemann commented on #218
This looks good @ashutoshverma-ct @allisonmuise I assume the second drop down is 15 minute intervals like other apps?

[2020-01-20 15:05] ashutoshverma-ct commented on #218
@jlindemann @allisonmuise

Yes, the second dropdown is the 15-minute interval.
Here are the screenshots for both first and second dropdown.

![image](https://user-images.githubusercontent.com/22743029/72736585-fe570a00-3bc3-11ea-8296-44fd11a98dc7.png)

[2020-01-21 01:51] jlindemann commented on #218
looks good

[2020-03-06 23:31] ashutoshverma-ct commented on #218
As discussed, we need to provide a "back" button for the filter screen and match the style as shown in the below sample screenshots:

| Filter de-activated | Filter activated |
| - | - |
| ![MicrosoftTeams-image (3)](https://user-images.githubusercontent.com/22743029/76130282-1ee5f280-5fbf-11ea-8ec2-e654174a72e5.png) | ![MicrosoftTeams-image (2)](https://user-images.githubusercontent.com/22743029/

[2020-03-10 17:51] allisonmuise commented on #229
@LindsayThomas See comment above + What is the priority for this?

[2020-03-10 17:51] allisonmuise commented on #228
@LindsayThomas  What is the priority of this?

[2020-03-10 17:53] allisonmuise commented on #226
@LindsayThomas : see comment above

[2020-03-10 17:58] LindsayThomas commented on #226
@jlindemann  or @chris-fox  I remember I logged these issues for the team however, I think it was one of you to that actually found the issue. Can you help Allison with a repo app?

[2020-03-10 20:47] jlindemann commented on #226
@LindsayThomas @allisonmuise @chris-fox
So good news it looks like this may be fixed?
Repo in current online if you follow steps above you see it:
https://www.arcgis.com/apps/CrowdsourcePolling/index.html?appid=8a4b126fa7d643c5868b262d64bc9be6&eventid=Ribfest%202020-7-23

Devext with same app and I no longer see this behavior:
https://solutions.mapsdevext.arcgis.com/apps/CrowdsourcePolling/index.h

[2020-03-10 20:53] #226 closed

[2020-03-17 15:29] allisonmuise commented on #225
AGOL cannot do an items release at 8.1 due to issues with build script. this change will need to be pushed to 8.2

[2020-03-17 15:33] allisonmuise commented on #224
fixed on qa

[2020-03-17 15:33] #224 closed

[2020-03-17 15:34] allisonmuise commented on #218
verified

[2020-03-17 15:34] #218 closed

[2020-04-01 17:39] allisonmuise opened #235 "app fails to load when map contains reference to layer that no longer exists"
App throws a type error and fails to load the list of polling features when the app is configured to display a map that contains one or more layers which no longer exist. This behavior is seen even when the deleted layer is NOT configured as the polling layer.

Repro steps:
1) Create a map that contains 2 hosted feature layers, one of which meets the requirements for a Polling layer.
2) Save the m

[2020-06-04 16:00] aparveen commented on #225
Ian updated the template https://www.arcgis.com/home/item.html?id=bb3fcf7c3d804271bfd7ac6f48290fcf

[2020-06-04 16:00] #225 closed

[2020-06-04 17:59] nathanenge commented on #229
I would also like to see ability to chain iconography of the vote button. maybe a bank of SVG or markdown capabilities?

[2020-06-29 19:18] skrishn opened #240 "Searchbox greys out in List view in android phone"
Noticed in production and qa apps, and with/without search layer configured in webmap.  In list view, when tapped on search box - it blinks and the panel greys out.

Tested on Samsung Galaxy S9 and Samsung Galaxy S10+.

![PollingIssue-S10Plus](https://user-images.githubusercontent.com/3836616/86046643-6d058280-ba02-11ea-946d-d724f947e378.gif)

[2020-09-22 22:41] aparveen opened #242 "BUG-000133477 JQuery updates"
Many customers are starting to perform static and dynamic analysis of our apps and finding issues related to dated libraries.

for Solutions apps, updating jQuery to 3.5.1 in crowdsource-reporter and crowdsource-manager appears to also require updating bootstrap, bootstrap-datepicker, and moment-with-locales because of changes to functions.

crowdsource-reporter uses

bootstrap 3.3.0 (10/2014)
boo

[2020-09-22 22:41] aparveen commented on #242
I will arrange a meeting with Mike before CT starts to work on it.

[2020-09-30 22:12] skrishn opened #243 "Tooltip on closed comment shows html if edited with richtext"
- Create polling app
- Close feedback
- Edit 'Feedback period closed window content' with richtext
- Hover over tooltip and it shows the richtext html

https://arcgis4localgov2.maps.arcgis.com/apps/CrowdsourcePolling/index.html?appid=74304586e3324c62a41792db1b659c41

[2020-10-05 04:42] sumitzarkar commented on #242
@aparveen @skrishn @MikeTschudi

As discussed on last call we don't see an usage of any plugins/libraries in Polling App and hence we don't see any action required on ths ticket.

[2020-10-05 05:51] ashishchoure commented on #243
@skrishn @aparveen @MikeTschudi

- We are using **title** attribute to show the tooltip on the comment button (see below screenshot).
- **title** attribute is not capable of rendering the HTML tags (rich text contents).

![image](https://user-images.githubusercontent.com/5525972/95044111-3c696f00-06fc-11eb-988a-095d376dba34.png)

[2020-10-05 16:19] skrishn commented on #243
@ashishchoure : Do we use tittle attribute to display tooltip for all template apps?

[2020-10-06 18:45] skrishn commented on #243
Polling doesnt use bootstrap or jquery libraries and this is an expected behavior with title tag.

[2020-10-06 18:45] #243 closed

[2020-10-12 19:03] #242 closed

[2020-11-16 15:10] aparveen opened #245 "Add message for users using deprecated browser"
We need to add a message for using deprecated browser.
Here are browser icon files we needed to show:
[Browser icons.zip](https://github.com/Esri/crowdsource-polling/files/5547159/Browser.icons.zip)

**Requirements for CT:**

1. Detect if user's browser is IE11 or Edge Legacy
2. If detected display one of the following messages:

**For ArcGIS Online:**

You are using a browser that is deprecated.

[2020-11-16 15:15] aparveen commented on #245
@CTLocalGovTeam we need to add this message in this release and need to have a code drop before November 24th for the string to be translated, could you please assess the level of effort? Thanks so much.

[2020-12-07 15:53] aparveen opened #249 "Add 'Short Org Url' messaging"
We need to add short url messaging for all the template apps, if an application is publicly shared, it can be accessed from a completely different org by changing only the org url which exposes a security vulnerability for the apps. To address this concern all agol apps are adding short url message which will let the user know when an app does not originate from same url as the address.
![image](h

[2020-12-07 15:56] aparveen commented on #245
Verified in qa

[2020-12-07 15:56] #245 closed

[2020-12-18 18:05] aparveen commented on #249
Verified in dev and qa

[2020-12-18 18:05] #249 closed

[2021-06-16 14:37] aparveen opened #258 "BUG-000139056 If a web map has map notes it will cause the list in the Crowdsource Polling application to never load"
Bug Summary:

- If a user has map notes in their web map and they try to create a Crowdsource Polling application the list element of the application will never load (during configuration and the published version).
- Expected behavior: Users should be able to include map notes in their map without it breaking the list functionality in the Crowdsource Polling application

.
Sample Data:

These ite

[2021-06-18 04:43] ashishchoure commented on #258
@aparveen

We have analyzed the issue and here are our findings :

**Case 1:**
- The map notes are added as a feature collection. In the code, we check for a feature layer before clearing the existing definition expressions (Please refer to Image 1).
- Since the feature collection doesn't have `layerObject ` property, the code breaks and we do not see the feature list in the side panel.
- We can r

[2021-06-29 18:18] MikeTschudi commented on #258
@ashishchoure, thank you for the detailed investigation (I'm sorry that I missed the GH notification). Your changes look great.

[2021-07-01 05:01] ashishchoure commented on #258
### Dev Checklist

Items ​ | Is required​ | Status | Comments​
-- | -- | -- | --
Required NLS change?​ | No |   | ​
Required Backward compatibility​? | No |   |  
Required 508​? | No |   |  
Need Sanitize?​ | No |   |  

### Impact Analysis Report

Impacted Areas | Comments
-- | --
Have Configuration changes?​ | Yes
Have Runtime changes?​ | Yes
Impact on RTL | No
Check for valid feature layer | <l

[2021-07-01 05:17] ashishchoure commented on #258
@MikeTschudi

- Just came across a case when there is no valid feature layer present in the web map.
- We are planning to show a message in the panel and this way users will be notified about the actual scenario.
- In addition to this, we have made a small change in the code to capture the scenario where an unmatching feature layer is configured. Instead of comparing the `iOpLayer `variable with `

[2021-07-01 14:54] MikeTschudi commented on #258
@ashishchoure, looks good!  @aparveen, OK with need for error message to user?

[2021-07-01 14:56] aparveen commented on #258
@MikeTschudi @ashishchoure I am good with change.

[2021-09-15 18:20] skrishn commented on #258
verified in qa

[2021-09-15 18:20] #258 closed

[2021-09-16 21:29] aparveen opened #263 "Clicking on a list item is producing console error and pop up information is not showing"
Clicking on a list item is producing console error and pop up information is not showing but clicking on the feature works fine.
Test App: https://sg-em-qaext.mapsqa.arcgis.com/apps/CrowdsourcePolling/index.html?appid=1de10aa871424c30ac91d13d5b8b9842
![image](https://user-images.githubusercontent.com/10148401/133687707-ac480a8e-c995-4022-993b-b1688256208b.png)

[2021-09-16 21:30] aparveen commented on #263
@CTLocalGovTeam could you please take a look at this issue? I see the same issue in production.

[2021-09-17 06:07] sumitzarkar commented on #263
@aparveen

- We analyzed this issue and found that there are many features in the layer which are not having geometry in it and this is causing the issue.
  -  [Feature not having geometry ](https://servicesqa.arcgis.com/MelfRio5QC8YLmks/arcgis/rest/services/Crime_Location/FeatureServer/0/query?where=1631857034729%3D1631857034729&objectIds=3280&time=&geometry=&geometryType=esriGeometryEnvelope&inS

[2021-09-17 15:53] aparveen commented on #263
@sumitzarkar lets table that for now, next time when we make any changes to Polling, we will fix this. Thanks so much for looking into it.

[2022-06-17 18:51] aparveen opened #268 "BUG-000138148 Sidecar scrolls down when selecting features from an embedded Crowdsource Polling app."
**Steps:**

1. Create a Crowdsource Polling Application
2. Embed the application to a web page that has substantial information/space where you would need to scroll down to review the entire page's contents.
3. When reviewing the embedded application, select a feature on the Crowdsource Polling Application
4. BUG: When selecting one feature then another, you will notice the application begin scrol

[2022-06-17 18:51] aparveen commented on #268
I was able to repro it with initial feature selection when the app is embedded in Experience Builder

[2022-06-22 07:20] sumitzarkar commented on #268
@aparveen

## RootCause and Solution
- We are able to reproduce this issue and have identified the root cause.
- This is due to the **nodeToMakeVisible.scrollIntoView** function call
- We have found the solution to fix this issue and will deliver it in next code drop

## Dev Checklist

Items ​ | Is required​ | Status | Comments​
-- | -- | -- | --
Required NLS changes?​ | No   |   | ​
Required Back

[2022-10-28 19:50] skrishn commented on #268
verified in qa

[2022-11-01 15:41] skrishn commented on #268
The issue is not reproducible outside of my machine.

[2022-11-01 15:42] #268 closed